[2022-09-27 20:04] o1-david opened #11930 "snarky-rs: add reference to system in cvar"

[2022-09-28 07:21] deepthiskumar commented on #9772
TODO: Monitor daemon memory usage

[2022-09-28 07:22] deepthiskumar commented on #11689
Impact: Reduces disk usage

[2022-09-28 07:25] msinkec opened #11932 "Dockerfile for dev environment missing"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/MinaProtocol/mina/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report. Please post those things in GitHub Discussions: https://github.com/MinaProtocol/mina/discussions

### Description

The Docker compose file `/

[2022-09-28 07:25] deepthiskumar commented on #9289
Impact: Reduces block size

[2022-09-28 07:29] deepthiskumar commented on #9465
Closing this since nonces are retrieved from the chain before generating a zkapp transaction using snarkyJS. The cli /graphql command simply accepts a fully constructed zkapp transaction.

[2022-09-28 07:29] #9465 closed

[2022-09-28 07:37] deepthiskumar commented on #11001
sending batch payments have been disabled and not sure if this more useful than simply using sendZkapp command multiple times (since the command would require a fully constructed zkapp transaction; nonces aren't inferred)

[2022-09-28 07:37] #11001 closed

[2022-09-28 07:39] deepthiskumar commented on #10027
most of the zkapp transaction application logic is now lifted into a common source

[2022-09-28 07:39] #10027 closed

[2022-09-28 08:37] shimkiv commented on #11932
Hey @mimoo can you please take a look.

[2022-09-28 13:14] Sventimir commented on #11849
I have found and verified that in the response to the `/network/status` query in Rosetta API, the index of the genesis block is hard-coded in `src/app/rosetta/lib/network.ml:37`. However, under the `genesisi_block_identifier` key the API returns an object:
[code]
where `index` is hard-coded as described above, but the `hash` does not change along with it, so it seems to be hard-coded too. I'm inve

[2022-09-28 16:43] amc-ie opened #11933 "Create separate alert channels for networks"

[2022-09-28 16:47] amc-ie commented on #11933
At present our #testnet-warnings channel contains too many sources which renders it noisy and difficult to tell high priority items from others. We need to have separate channels for MainNet, Devnet and Berkeley that display only the corresponding alerts from their respective network monitoring.

Acceptance criteria:
#mainnet-warnings #devnet-warnings (can use testnet) and #berkeley-warnings are c

[2022-09-28 17:47] psteckler opened #11934 "Ledger location w/ no account bug"
In `Mina_transaction_logic.has_permission_to_receive`, the call to `location_of_account` can return a location, but then `get` indicates there's no account at that location.

[2022-09-28 17:52] psteckler opened #11935 "Include top version tag in transaction ids"
That will allow deserializing to older versions, and producing a hash for that older version.

We wouldn't use the mechanism to coerce an older version to the latest version, and then hash, because that would produce a different hash. Instead, we'd deserialize to the older version, and hash for that specific version.

[2022-09-28 17:53] deepthiskumar commented on #11901
https://github.com/MinaProtocol/mina/pull/11891

[2022-09-28 18:01] deepthiskumar commented on #11905
Such transactions could be used for replacement/cancellation

[2022-09-28 18:13] mrmr1993 commented on #10390
This has long been implemented, and is now called zkApp composability.

[2022-09-28 18:13] #10390 closed

[2022-09-28 19:20] psteckler commented on #11934
In `Sparse_ledger_base.L`: ```  let location_of_account : t -> Account_id.t -> location option =
    fun t id ->
    Format.eprintf "SPARSE LEDGER LOC OF ACCT@.";
    M.iteri !t ~f:(fun ndx acct ->
        Format.eprintf "  NDX: %d  ACCOUNT: %s@."
          ndx (Account.to_yojson acct |> Yojson.Safe.to_string));
    M.iteri !t ~f:(fun ndx acct ->
        Format.eprintf "  NDX: %d  HAS ACCOUNT: %B@

[2022-09-28 23:28] stevenplatt opened #11939 "Mina daemon cannot load more than 875,000 accounts at boot"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/MinaProtocol/mina/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report. Please post those things in GitHub Discussions: https://github.com/MinaProtocol/mina/discussions

### Description

As part of testing bootstr

[2022-09-29 06:48] deepthiskumar commented on #11867
This behaviour was explicitly added to support config files that included daemon configs/ possibly have comments in the config file.
We should separate user configs for the daemon from genesis config and have genesis config file be strictly checked for unexpected fields

[2022-09-29 16:43] #11693 closed

[2022-09-29 16:43] ghost-not-in-the-shell commented on #11628
When applying a zkapp transaction, we accumulate failure status for failed account updates, and when it hits a failure case, none of the account updates are applied except the fee payer. For those account updates, we should put a `Canceled` status so that it's clear they are not applied.

Implementation plan: In `mina_transaction_logic.ml`, we checks all the updates. If we find a failure, then we

[2022-09-29 17:59] psteckler commented on #11939
@stevenplatt Are there daemon logs available for the failure cases?

[2022-09-29 19:26] psteckler commented on #11935
Details:
- use the `with_top_version_tag` in `Signed_command.Stable` and `Zkapp_command.Stable`
- in `Signed_command` and `Zkapp_command`, include `Codable.Make_base64 (Stable.Latest.With_top_version_tag), which include a version tag in the `Bin_prot` serialization that is base64-encoded
- for each signed command and zkApp type version, associate a hasher
- when calling `advanced hash-transaction`

[2022-09-29 21:11] psteckler commented on #11935
We'd do something similar with the CLI commands for receipt chain hash and canceling a transaction.

[2022-09-30 07:13] balsoft commented on #11892
Work in https://github.com/minaprotocol/mina/tree/nix-ci-scalable-runners

[2022-09-30 13:40] Sventimir commented on #11849
I verified that GraphQL returns genesis block's height depending on the fork configuration compiled into the binary. Hence, once the fork is configured, GraphQL will automatically return correct genesis_block_height. Therefore merging #11941 is sufficient to close this issue.

[2022-09-30 13:42] shimkiv commented on #11058
Closing this issue because of being inactive for long time.
Please feel free to open another ticket should you experience any further issues.

[2022-09-30 13:42] #11058 closed

[2022-09-30 13:42] #9723 closed, assigned to nobody

[2022-09-30 23:28] garethtdavies opened #11947 "GraphQL: Error in retrieving token accounts from Berkeley"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/MinaProtocol/mina/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report. Please post those things in GitHub Discussions: https://github.com/MinaProtocol/mina/discussions

### Description

I created the first token

[2022-09-30 23:32] garethtdavies commented on #11947
After posting from a local GraphiQL instance I did get a result - the issue it seems is it is returning all accounts and not filtering by tokenId so it's returning a massive amount of data hence taking so long to return. Here is the first accounts it returns:

[code]

Getting the account for the second public key - this is the default token so it's not being filtered.

[code]

[2022-09-30 23:35] garethtdavies opened #11948 "GraphQL: tokenOwner takes token argument rather than tokenId"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/MinaProtocol/mina/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report. Please post those things in GitHub Discussions: https://github.com/MinaProtocol/mina/discussions

### Summary

In GraphQL `tokenAccounts` tak

[2022-09-30 23:38] garethtdavies opened #11949 "GraphQL: Token owner returns null for an existing token"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/MinaProtocol/mina/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report. Please post those things in GitHub Discussions: https://github.com/MinaProtocol/mina/discussions

### Description

The following query should

[2022-09-30 23:39] garethtdavies commented on #11949
Likely related to #11947

[2022-09-30 23:51] garethtdavies commented on #11947
I had the wrong `tokenId`!

[2022-09-30 23:51] #11947 closed

[2022-09-30 23:52] garethtdavies commented on #11949
I had the wrong `tokenId`

[2022-09-30 23:52] #11949 closed

[2022-10-01 00:36] garethtdavies opened #11950 "GraphQL: Getting token accounts in Berkeley is incredibly slow"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/MinaProtocol/mina/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report. Please post those things in GitHub Discussions: https://github.com/MinaProtocol/mina/discussions

### Description

I created token accounts o

[2022-10-01 00:42] garethtdavies opened #11951 "GraphQL: tokenOwner return wrong tokenId"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/MinaProtocol/mina/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report. Please post those things in GitHub Discussions: https://github.com/MinaProtocol/mina/discussions

### Description

The query to find the toke

[2022-10-01 00:42] garethtdavies commented on #11951
Related to #11948

[2022-10-01 00:52] garethtdavies commented on #11951
Also the `isTokenOwner` of `tokenAccounts` doesn't seem to work. Given the above result `B62qntBgBfjMHDFUJAqDzhKjRnsKE6QaP8a5JckarJtUcm6TxoSRRKR` is the tokenOwner yet the following query returns false (eventually).

[code]

Returns:

[code]

[2022-10-02 17:32] shimkiv opened #11952 "Memory consumption/leaks investigation"
This `Epic` should include issues related to the memory consumption/leaks investigation.
It is important to continue application's profiling since eventually even `non-BP` nodes might crash because of `OOM`.

[2022-10-02 19:53] psteckler commented on #11935
While we're at it, remove the chunking code in the `base58_check` library, which was introduced to handle the long transaction ids for zkApps.

[2022-10-03 07:26] balsoft commented on #11717
Should this be closed now that #11720 is merged?

[2022-10-03 18:02] psteckler commented on #11951
In the `berkeley` ledger, I see two accounts with the same public key, one with the default token, the other with the custom token mentioned above. I'll see if I can track down the source of the error.

[2022-10-03 18:55] psteckler commented on #11950
The command is generating a list of all accounts, then filtering them by token. I think that can be sped up by filtering on the token in account ids before doing the account lookup.

[2022-10-03 19:35] psteckler commented on #11950
With that change, the particular lookup described here takes less than a second.

[2022-10-03 19:40] #11948 closed

[2022-10-03 21:26] psteckler commented on #11951
I think there's no bug for the first issue here. A new token id is derived from an owner, which is an account id consisting of a public key and existing token id. Only one token id can be immediately derived from that account id.

In OCaml:
[code]
I see `y5DwEtVrPsSueEtVNoMuBvnRFU5wnst7WxXGara2Zca2LCCU8k`. So I think the GraphQL is returning the correct result.

[2022-10-03 21:29] psteckler commented on #11951
For the second issue regarding `tokenAccounts`, the token owner is the public key `B62qntBgBfjMHDFUJAqDzhKjRnsKE6QaP8a5JckarJtUcm6TxoSRRKR` paired with the default token. So, none of the accounts denominated in that token is the token owner.

[2022-10-03 21:33] psteckler commented on #11951
@garethtdavies Do you buy my explanation?

[2022-10-03 21:57] garethtdavies commented on #11951
Ah OK, I get it after reading that a few times! Thanks. So the new token is a combination of the public key and token id. Agreed, given that context, this isn't a bug.

I tested the behavior of `isTokenOwner` by returning all default token accounts:

[code]

That returns the following (eventually), so not sure under what conditions `isTokenOwner` would return true. Also makes me wonder if it is po

[2022-10-03 22:17] psteckler commented on #11951
I believe that `isTokenOwner` will never be true, because in any account, the unique token id derivable from the account's public key and existing token id will never be the same as that existing token id.

It should be possible to create a new token from any existing account id. The tests in this file:

  https://github.com/MinaProtocol/mina/blob/develop/src/lib/transaction_snark/test/zkapp_token

[2022-10-03 22:28] #11951 closed

[2022-10-04 01:33] psteckler opened #11957 "Rip out token permissions and `isTokenOwned`"
Token ownership given by an owning account id, rather than supplemental information in an account.

Remove token permissions in accounts, and the associated type `Token_permissions`.

`isTokenOwned` in GraphQL responses should always be `false`, so that can be removed.

[2022-10-05 07:38] shimkiv opened #11959 "TMS/TestOps proposal"

[2022-10-05 19:14] matheus-o1labs opened #11963 "curl is missing on the latest postgresql docker-helm images from bitnami."
curl is missing on the latest postgresql docker-helm images from bitnami.

{
insertId: "5ur2f10sys3el052"
labels: {3}
logName: "projects/o1labs-192920/logs/stderr"
receiveTimestamp: "2022-10-04T01:15:00.319205357Z"
resource: {2}
severity: "ERROR"
textPayload: "bash: line 1: curl: command not found
"
timestamp: "2022-10-04T01:14:52.894147915Z"
}

Related information:

https://github.com/bitnami/con

[2022-10-05 19:19] psteckler commented on #11963
For now, version 13.8.0 is hard-coded in this commit: https://github.com/MinaProtocol/mina/pull/11955/commits/171c067f3de91219c7a8d51913743333908e7e04
(once #11955 is merged). If the Docker has curl installed again, the version can be removed.

[2022-10-05 20:47] #11950 closed

[2022-10-06 06:59] #11849 closed

[2022-10-08 00:42] #11935 closed

[2022-10-10 07:38] Sventimir opened #11967 "Recreate testing tool for Rosetta"
We used to have a client application for our Rosetta API implementation, which could be used for testing purposes. Sadly, some of its requirements ceased to be met by the implementation and we decided to delete it. However, such a tool is extremely useful for testing, since we don't have a real Rosetta client to use for testing. This new client app could be used to call Rosetta endpoints and also

[2022-10-11 13:31] mrmr1993 commented on #11730
This is still in progress. The current approach is to hard-code the blinding in kimchi and pickles, which has reduced the number of changes needed.

* The kimchi side -- 'blinding' the public input commitment using `h`, the vanishing polynomial -- is tested and working as intended.
* The pickles side is nearly done. The main blocker is that the representation of constants in the code generated by

[2022-10-11 17:37] mrmr1993 opened #11976 "Add tests for nix .deb packages to ensure that version output contains a valid commit hash"
Pull request https://github.com/MinaProtocol/mina/pull/11838 is attempting to add a hack for nix builds that skips generating the commit information at build time. This information is used by the mina CLI for errors and the version command. The information is valuable for debugging issues and determining which versions introduced or resolved bugs.

It would be good to add a simple check that ensur

[2022-10-11 23:15] robinbb commented on #11618
#11101 is now complete, but has a follow-on task, #11771. So, @mrmr1993's comment (that this issue will be easier after that work) applies to that new issue.

[2022-10-11 23:17] robinbb commented on #11771
@ylecornec I'm glad to see that this issue is in-progress. Do you have an ETA or an estimate of size?

[2022-10-11 23:21] robinbb commented on #7934
@mrmr1993 Can the Mina Foundation take this issue from you? If yes, please assign the MinaFoundation label and remove yourself as the assignee.

[2022-10-11 23:22] robinbb commented on #7601
@MartinMinkov @aneesharaines Can the MinaFoundation team take this from you? If yes, please remove @MartinMinkov as the assignee and add the 'MinaFoundation' label to this issue.

[2022-10-11 23:26] robinbb commented on #8669
I agree that this is a UX issue, but I do not necessarily see it as a GraphQL issue per se. Though, I understand that whatever UX fix is constructed may involve a GraphQL change. That said, this is not an issue with GraphQL, so I am removing the label.

[2022-10-11 23:30] robinbb commented on #11085
@shimkiv Is the problem that the `Memo` field encoded? We all agree that it's useful to have a memo field on a transaction, right?

FYI, the field is being used in an integral way in the On-Chain Signaling project.

[2022-10-11 23:34] robinbb commented on #11559
@kantp I notice that the associated PR has been open for about 8 weeks. I propose that @ylecornec @Sventimir and @joaosreis combine forces to get that do "done" before it becomes even more stale. Let me know if I can help.

[2022-10-11 23:52] robinbb commented on #2975
@bkase Can you opine on what should happen with this issue? @wu-s-john do you intend to work on this?

[2022-10-11 23:54] robinbb commented on #2242
Are you still working on this, @Schmavery?

[2022-10-11 23:56] garethtdavies commented on #8669
This is an old issue :) I'll close this as it's possible to handle in other (albeit hacky) ways as any change that was made would _only_ be to GraphQL, so it makes little sense for it not to be related.

[2022-10-12 00:01] robinbb commented on #9378
@mrmr1993 I see that PR #9394 was merged. Did you intend for that work to close this issue?

[2022-10-12 00:04] robinbb commented on #8940
@MartinMinkov @aneesharaines Safe to close this as "won't do"?

[2022-10-12 00:06] robinbb commented on #8669
Understood. Thanks, Gareth.

[2022-10-12 00:11] garethtdavies commented on #8669
Thanks, I will reopen as actually, now I think of Berkeley, this is probably even more useful as also have the case of account creation via zkApp - the equivalent in archive node is `receiver_account_creation_fee_paid`. It's possible to infer this in GraphQL but making this explicit would probably help!

[2022-10-12 00:15] robinbb commented on #8371
@shimkiv Do you perceive that this is a "GraphQL issue", or is this a deeper concern about what is query-able from the mempool?

[2022-10-12 00:22] robinbb commented on #7598
@figitaki @aneesharaines Is this still necessary, or has a suitable workaround been found?

[2022-10-12 00:24] robinbb commented on #7404
@psteckler I perceive that this issue should be closed. Is that right?

[2022-10-12 00:26] robinbb commented on #4648
@deepthiskumar @ylecornec Are there still more GraphQL schema definitions to move?

[2022-10-12 00:28] robinbb commented on #4394
@bkase @Schmavery Is this still wanted?

[2022-10-12 00:31] robinbb commented on #3553
@Schmavery Do you expect to make progress on this issue? Can the Mina Foundation take it from you?

[2022-10-12 00:31] psteckler commented on #7404
Yes, closing.

[2022-10-12 00:31] #7404 closed

[2022-10-12 00:53] robinbb commented on #8901
Probably this refers to this (https://www.rosetta-api.org/) and not this (https://en.wikipedia.org/wiki/Rosetta_(software)) even though the latter would make sense for this issue. :-)

[2022-10-12 01:09] robinbb commented on #11718
@lk86 Are you actively working on this, or can the folks at Mina Foundation take this on?

@shimkiv You set the priority to 'low', but it seems that this problem, according to the reporter, happens *always*. This means that the Rosetta container is useless at present. Is the priority low because the container/image is less important than the main distribution of Mina, or for some other reason?

[2022-10-12 01:15] robinbb commented on #10944
@lk86 Would you classify this as a "Rosetta" issue, or more of a hardfork issue?

[2022-10-12 01:17] robinbb commented on #10910
@lk86 @psteckler Is this more of a hardfork issue than a Rosetta issue, in your respective opinions?

[2022-10-12 01:24] robinbb commented on #9929
@psteckler I see the merged #9965. Does that mean that this issue ought to be closed, or is there more to do?

[2022-10-12 01:47] robinbb commented on #9675
@joseandro Can Mina Foundation take this Rosetta-related issue from you? Also, it seems that the author replied, so perhaps the waiting-author-response label is no longer appropriate?

[2022-10-12 01:50] psteckler commented on #10910
Well, it's both -- Rosetta needs to be updated for the schema in the hard fork.

[2022-10-12 01:51] psteckler commented on #10729
Sure.

[2022-10-12 01:52] #9929 closed

[2022-10-12 01:53] robinbb commented on #4885
@aneesharaines I can't see the pointed-to Notion document. Can you paste its content, here, if this issue is still applicable.

[2022-10-12 01:54] robinbb commented on #9332
@lk86 Safe to take from you and assign to Mina Foundation engineering?

[2022-10-12 01:57] robinbb commented on #9293
@lk86 @aneesharaines Is there more to do here? (I'm not sure which the disabled tests were.)

[2022-10-12 01:58] robinbb commented on #9292
@lk86 Okay to take this from you and assign to the Mina Foundation engineering team?

[2022-10-12 01:59] #9294 closed

[2022-10-12 02:07] robinbb commented on #8307
@lk86 Possible to take this off of your plate and assign to Mina Foundation engineering?

[2022-10-12 02:11] robinbb commented on #8084
@jspada Would you like to offload this Rosetta-related issue to the Mina Foundation engineering team?

[2022-10-12 02:12] robinbb commented on #6931
@bkase Now that #6940 is closed, is this issue also resolved?

[2022-10-12 03:07] #11934 closed

[2022-10-12 03:48] robinbb commented on #5886
@lk86 Is it safe to take this issue from you and assign to Mina Foundation engineers? Is there indeed more work to do?

[2022-10-12 03:59] robinbb commented on #11717
It seems so, @balsoft. It's on @kantp to close or to continue the work.

[2022-10-12 04:01] robinbb commented on #11300
@joseandro @lk86 I think that there is no well-define work, here. Can we close?

[2022-10-12 07:47] ylecornec commented on #4648
They are still a few in the consensus library.

[This one ](https://github.com/MinaProtocol/mina/blob/develop/src/lib/consensus/proof_of_stake.ml#L664) for instance.

[2022-10-12 08:17] #11361 closed

[2022-10-12 12:00] amc-ie commented on #9316
The links in the readme.md now resolve to the correct content so I am closing this defect. Please reopen if you disagree or spot anything else adding any relevant information. Thanks!

[2022-10-12 12:00] #9316 closed

[2022-10-12 12:05] amc-ie commented on #8367
Are you seeing this behavior in recent versions? We have done a lot of work around performance improvements since this was raised and we are not seeing this when trying to reproduce. Please let us know if you are seeing this (along with any relevant information) otherwise we can close this as no longer reproducible. Thanks!

[2022-10-12 12:46] amc-ie commented on #7306
Is this still being observed? We have had added a lot of performance and stabilization improvements since this defect was last touched and we have not observed it internally. Please let me know along with any relevant information that may assist debugging, otherwise we will close this as part of our triage process. Thank you!

[2022-10-12 14:13] robinbb commented on #4762
@bkase Over the last many months, work on the CI may have made this issue redundant. Given that it mentions CircleCI, is this issue now deprecated? I grant that some of the problems identified above remain, however. Should this issue be closed? Or, should it pass on to the Mina Foundation engineering team, @bkase ? Or, something else?

[2022-10-12 14:14] robinbb commented on #5273
Is `!ci-build-me` still active?

[2022-10-12 14:20] robinbb commented on #7047
@lk86 Is this still needed? @AryehAlexander do you continue to work on this?

[2022-10-12 14:21] robinbb commented on #7986
@0x0I Is this still needed? @lk86 are you working on this, or can it pass to Mina Foundation engineering?

[2022-10-12 14:22] robinbb commented on #8469
@aneesharaines Is this still needed? Has it been done, already, I wonder?

[2022-10-12 14:27] EmreNOP commented on #7306
I dont have any additonal example for this issue. latest release is looking ok for this. please close.

[2022-10-12 14:29] amc-ie commented on #7306
That is great to hear, thank you once again!

[2022-10-12 14:29] #7306 closed

[2022-10-12 15:52] EmrePiconbello opened #11981 "1.3.2beta2 being all around the place."
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/MinaProtocol/mina/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report. Please post those things in GitHub Discussions: https://github.com/MinaProtocol/mina/discussions

### Description

We run 3 nodes at 1.3.2bet

[2022-10-12 17:25] deepthiskumar opened #11982 "Separate build with rust target feature optimizations"

[2022-10-12 18:20] amc-ie commented on #11982
Linking https://github.com/MinaProtocol/mina/pull/11716

[2022-10-13 02:59] psteckler commented on #11894
Probably this is not a good idea. I'm concerned that the ISO8601 representation may lose or change some of the 63 bits that a block time represents, when converting back and forth.

[2022-10-13 07:16] shimkiv commented on #11981
Hey @EmrePiconbello , thanks for reporting this.
I hope you do realise that without logs we can't do much here so please attach some if you can.

[2022-10-13 11:38] EmrePiconbello commented on #11981
Yes, I know that we are trying to locate the logs for this in case our system captures it. The reason I brought this up is recent versions bring up minor issues like here but they were mostly not that significant and common. With this release, we carry all of our nodes into this version to be sure that all of them were crashing with status commands, reporting key corrupted/wrong password even thou

[2022-10-13 14:32] EmrePiconbello commented on #11981
@shimkiv Just shared logs over the drive for 5 days long + the only crash report created by the node. According to the logs, there are many crash records but none of them actually get created. We have over 5TB of logs which makes it hard to find stuff when we need :) We should probably put resources into some better solution or completely left the log collection since these logs don't help us at a

[2022-10-13 14:44] shimkiv commented on #11981
Thank you @EmrePiconbello!
Where we can find the Drive link?

[2022-10-13 14:44] robinbb commented on #9106
@kaozenn Possible for you to confirm that this is indeed done? (And not by bothering @lk86 as I have done, but by checking the code, as I have not done.)

[2022-10-13 14:45] robinbb commented on #9105
@kaozenn Can you verify that this is indeed done, and close if so?

[2022-10-13 14:46] robinbb commented on #9009
@MartinMinkov Can this issue be taken away from you to be worked on by the Mina Foundation engineering team? @aneesharaines What do you think?

[2022-10-13 14:47] robinbb commented on #8935
@psteckler @deepthiskumar Can the Mina Foundation engineering team take this issue?

[2022-10-13 15:10] robinbb commented on #7596
@deepthiskumar Mina Foundation has arranged to have developers from Granola Systems (https://github.com/orgs/Granola-Team/) help with the archive node. Can @mxnkarou take this issue?

[2022-10-13 15:16] #5573 closed

[2022-10-13 15:17] robinbb commented on #5565
@lk86 I wonder if @kaozenn can take this from you?

[2022-10-13 15:19] robinbb commented on #5508
@michellewong793 are you still working on this issue? Can the Mina Foundation engineering team take it from you?

[2022-10-13 15:58] #11730 closed

[2022-10-13 16:47] shimkiv opened #11986 "Update/refactor e2e-zkapp to support initial set of features to exercise"

[2022-10-13 16:47] #11986 closed

[2022-10-13 18:40] psteckler commented on #11432
Done.

[2022-10-13 18:40] #11432 closed

[2022-10-13 19:49] psteckler commented on #11181
The OCaml side of this is done.

In CI, the linter script should:

- download Docker images for the release branch, PR base branch, and PR branch.
- in each image, run `mina internal dump-type-shapes -max-depth N` (where `N` is maybe 5)
- that prints out a path to a type, a hash of the type shape, and the type shape as an S-expression, to the given depth
- in a Python script, create dictionaries f

[2022-10-14 03:14] leezijie opened #11987 "The rest api no response"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/MinaProtocol/mina/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report. Please post those things in GitHub Discussions: https://github.com/MinaProtocol/mina/discussions

### Description

I started the node correct

[2022-10-14 04:15] kaozenn commented on #9105
I can confirm that on the _developer_ branch, all the tests/CI jobs uses docker images.
Issue is marked as Done in the United Sprint Board
[PR](https://github.com/MinaProtocol/mina/pull/9151) raised against that issue is also merged.
Closing ticket

[2022-10-14 04:15] #9105 closed

[2022-10-14 05:31] kaozenn commented on #10691
We could use the [Parallel Build](https://buildkite.com/docs/tutorials/parallel-builds) property of Buildkite to run tests in parallel. This would speed up the build time. We would need to map first the list of the Tests that could run in parallel, then refactor the code to do so.

[2022-10-14 07:36] shimkiv commented on #11987
Hey @leezijie thanks for reporting this.
Please attach the logs.

[2022-10-14 07:55] leezijie commented on #11987
Which logs do I need to provide? I observe that the logs are normal, but the rest request is not returned
[code]

[2022-10-14 09:20] shimkiv commented on #11987
@leezijie also how much time usually passed when you start getting an empty response?

[2022-10-14 10:02] shimkiv commented on #11987
Can you please zip all of it and upload somewhere?
Thank you.

[2022-10-14 10:24] leezijie commented on #11987
@shimkiv Yes, I deployed several nodes. Everything else is normal. Originally, this node is also normal, I do not know why this situation suddenly appeared. This machine is very highly configured in relative terms. 8core32g

[2022-10-14 10:25] leezijie commented on #11987
@shimkiv I don't have permission at present. I will upload it later

[2022-10-14 10:31] shimkiv commented on #11987
@leezijie I mean how much time usually passes between node reboot and nothing in response from Rosetta REST API calls?

[2022-10-14 11:31] leezijie commented on #11987
![image](https://user-images.githubusercontent.com/32590143/195836727-7434131a-b76b-4449-9f01-b53b1e5a155f.png)
@shimkiv
I entered the inside of docker, you can see that each service started normally, but the request did not return any, will be stuck until the timeout disconnection

[2022-10-14 13:16] shimkiv commented on #11987
~5hrs of work and still works well so far.
By your screenshot it seems that `curl` still waits for response, maybe the system's performance dropped so that even simple requests are processed too slow?
What else do you do with the node after restart? Maybe I need to perform some specific activities?

[2022-10-14 13:35] leezijie commented on #11987
@shimkiv
Just reboot for an hour and that's it. Nothing else. My other nodes are perfectly normal, which is weird.cpu and memory usage are not high

[2022-10-15 03:34] stevenplatt commented on #11866
This item is completed.

[2022-10-15 03:34] #11866 closed

[2022-10-15 03:34] stevenplatt commented on #11864
This item is completed.

[2022-10-15 03:34] #11864 closed

[2022-10-15 03:35] stevenplatt commented on #11795
This item is completed.

[2022-10-15 03:35] #11795 closed

[2022-10-15 03:38] stevenplatt commented on #11486
This item is complete. At this time, the testing loop fails due to a libp2p bug that is being fixed separately. This test as well as test for other ledger sizes will be run again once the bugfix is available and has been merged.

[2022-10-15 03:38] #11486 closed

[2022-10-15 03:39] stevenplatt commented on #11797
This item is completed.

[2022-10-15 03:39] #11797 closed

[2022-10-15 15:47] shimkiv commented on #11987
@leezijie still runs without issues on my end, I also did periodic restarts to emulate your case.
With this I'd consider the HW/VM issue.
Do you see any errors/suspicious events  in your `syslog`?

[2022-10-15 17:50] stevenplatt opened #11991 "Create documentation for the Mina Bootstrap Benchmark process"
This issue is to document the configurations and process of running the Mina bootstrap benchmark process.

[2022-10-15 20:09] deepthiskumar opened #11992 "surface nightly CI results"
Update CI and slack integration to split out nightly build results from other buildkite alerts. The initial version (this could change) would create the following two new pipelines within Buildkite:

**New Buildkite Pipelines**
- [ ]  `Mina CI Nightly [Compatible]`
- [ ]  `Mina CI Nightly [Develop]`

These two pipelines would mirror the configuration of the existing `Mina` pipeline, but not be int

[2022-10-17 06:25] ylecornec opened #11993 "Add rpc types to `mina_wire_types`"
These types top out as the request/response types in the `mina_networking` library.

See the bottom of [this file](https://hackmd.io/J7HdWWCrSBmqqn3fW_6_pQ?edit) for the list of types to handle (not all types are fully explored yet).

The process is documented in the [mina_wire_type](https://github.com/MinaProtocol/mina/blob/develop/src/lib/mina_wire_types/index.mld) library.

Related issues and P

[2022-10-17 07:41] kantp commented on #11061
#11843, #11886 improve the onboarding documentation.

[2022-10-17 07:51] balsoft opened #11994 "Make it difficult to produce executables without commit ID"
To avoid people creating issues without commit info in them, we should make sure it's difficult to produce executables which don't have commit ID associated with them.

[2022-10-17 07:53] #10691 closed

[2022-10-17 08:07] kantp commented on #8443
In the nix ci, we have a flag for this, so I'm closing this issue, even if we're not doing it in the current CI.

[2022-10-17 08:42] kantp commented on #11194
@bkase Can you please give a bit more context what this issue is about?

[2022-10-17 08:47] kantp commented on #9293
Duplicate of #9332

[2022-10-17 09:05] kantp commented on #8563
This has been done during the refactoring of the graphql interface.

[2022-10-17 09:05] #8563 closed

[2022-10-17 09:35] leezijie commented on #11987
@shimkiv
I have now migrated to another machine, if this issue occurs in the future, I am turning on the issue.
Thank you for your help.

[2022-10-17 09:35] #11987 closed

[2022-10-17 14:26] amc-ie opened #11995 "KR 3.22 - GCP costs"

[2022-10-17 14:31] amc-ie commented on #11995
This task is to review and audit infrastructure spending to ensure that we are lean where we ought to be.
This covers:

Auditing & Reporting
Determine mitigation options if anything is determined to be inefficient.

[2022-10-17 16:41] #11561 closed

[2022-10-17 16:45] #11930 closed

[2022-10-17 16:46] mrmr1993 opened #11996 "Review XOR gate"

[2022-10-17 16:49] mrmr1993 opened #11997 "Snark work optimisations planning"

[2022-10-17 16:49] #11582 closed

[2022-10-17 16:50] mrmr1993 opened #11998 "Pickles documentation planning"

[2022-10-17 16:51] joseandro opened #11999 "implement Pickles types for snarky-rs"

[2022-10-17 17:17] psteckler commented on #11894
Not going to do this.

[2022-10-17 21:54] joseandro commented on #11447
@querolita can we close this ticket?

[2022-10-17 22:29] kaozenn commented on #10694
I am unsure if this ticket is still relevant.
There is no much activity on the `mina-integration-west1` cluster.
I cannot see any PV (Persistant Volume) in an "Unused" state. There is lots of records of PV in a "Retain" state (~600 day olds average). These Volumes are no longer present from the Cloud Console nevertheless. It let me think we deleted them.
On the `default` namespace there are 2 cron

[2022-10-17 22:29] #10694 closed

[2022-10-18 08:51] #7073 closed

[2022-10-18 13:59] #11447 closed

[2022-10-18 16:54] EmrePiconbello commented on #11981
@shimkiv here it's shared to logs@o1labs as mentioned in documentations https://drive.google.com/drive/folders/1q6y9HnftpeNRjviXcb-DaSVNci9jxGLe?usp=sharing

[2022-10-18 16:57] deepthiskumar opened #12004 "Rename sequence events to actions"

[2022-10-18 21:38] ghost-not-in-the-shell commented on #11905
The `invalid_fee_excess` failure has been fixed. And the `Account_nonce_precondition_unsatisfied` failure is a side effect of the `invalid_fee_excess`.

[2022-10-19 07:57] ylecornec commented on #11595
Closing in favor of #4648

The mina_graphql library could be reorganized but it seems like the correct place to define the current GraphQL objects. This is because the GraphQL schema does not map cleanly to ocaml types (sometime types from different libraries are merged together, there can be cross-library recursion, a dependency is often needed on the GraphQL context defined in mina_lib).

[2022-10-19 07:57] #11595 closed

[2022-10-20 18:00] ymekuria opened #12014 "Allow Mina Signer(Client SDK) to sign account updates"
Currently Mina Signer only signs the feepayer part of transactions and not other account updates. This will allow wallets to be able to sign other account updates.

[2022-10-24 01:02] kaozenn commented on #6094
I also encountered the same issue. It due to a mismatching `genesis_state_timestamp` in `genesis-ledger.json`.
`genesis_state_timestamp` should match the operating system one

[2022-10-24 07:00] ylecornec opened #12024 "Rosetta-cli: run tests for the construction api locally"
See PRs:
- [x] #12278
- [x] #12281

[2022-10-24 07:29] bryanhonof commented on #10003
@balsoft Is working on the Mina's Nix documentation.

[2022-10-24 07:39] bryanhonof commented on #10922
Would [BuildKite's Test Analytics ](https://buildkite.com/test-analytics) suffice?

[2022-10-24 07:44] balsoft commented on #5273
There seems to still be a relevant piece of code: https://github.com/MinaProtocol/mina/blob/develop/frontend/ci-build-me/src/index.js#L170

Not sure if it's used, though.

[2022-10-24 09:35] balsoft commented on #11976
We have a couple of options to test this inside a derivation:

1. Install the package inside the sandbox
2. Run a podman container, install the package in it, run there
3. Run a VM, install the package there, run there

(1) doesn't work ATM because the package contains `/nix/store` on its own and so can't be installed on the host, (2) doesn't work because user namespaces are disabled inside the sa

[2022-10-24 10:52] #10820 closed

[2022-10-24 10:52] mitschabaude commented on #10820
I think this was about the inability to compile in minifying mode, and was fixed a while ago (bc right now we do compile in minifying mode). Closing

[2022-10-24 16:32] amc-ie commented on #11217
@matheus-o1labs it makes sense to pick this up again when looking at the weekly reports; this is the information as discussed that will be very useful for quantifying our improvements (also showing performance degradation).

[2022-10-24 17:59] deepthiskumar opened #12029 "Add permission to access an account"
`access` permission to allow any (or no) update to an account and be included in a zkapp transaction.
This permission will supersede all other permissions. For example, if an account has set no auth for receiving tokens but proof auth for accessing it then an update to add to the balance of the account requires a proof auth.

Also, if an account update does not change any of the account fields and

[2022-10-24 18:00] psteckler opened #12030 "Archive node fails in CI"
Sometimes the archive node fails in CI, causing the replayer part of integration tests to fail. Apparently, the database is not getting initialized properly:

https://console.cloud.google.com/logs/query;query=resource.type%3D%22k8s_container%22%0Aresource.labels.project_id%3D%22o1labs-192920%22%0Aresource.labels.location%3D%22us-west1%22%0Aresource.labels.cluster_name%3D%22mina-integration-west1%2

[2022-10-24 18:03] psteckler commented on #12030
Here are the Postgresql container logs from that same run:

https://console.cloud.google.com/logs/query;query=resource.type%3D%22k8s_container%22%0Aresource.labels.project_id%3D%22o1labs-192920%22%0Aresource.labels.location%3D%22us-west1%22%0Aresource.labels.cluster_name%3D%22mina-integration-west1%22%0Aresource.labels.namespace_name%3D%22it-auto-bef8cbd7-zkapps%22%0Aseverity%3E%3DDEFAULT%0Aresour

[2022-10-24 18:19] lk86 opened #12031 "1.3.2beta2 Node silently fails when IP changes"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/MinaProtocol/mina/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report. Please post those things in GitHub Discussions: https://github.com/MinaProtocol/mina/discussions

### Description

When a node's public IP ad

[2022-10-24 18:25] lk86 opened #12032 "1.3.2beta2 Blocks not gossiping consistently"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/MinaProtocol/mina/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report. Please post those things in GitHub Discussions: https://github.com/MinaProtocol/mina/discussions

### Description

Staying synced for long pe

[2022-10-24 20:00] garethtdavies opened #12033 "Docker configuration error does not get logged"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/MinaProtocol/mina/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report. Please post those things in GitHub Discussions: https://github.com/MinaProtocol/mina/discussions

### Description

When running on Docker wit

[2022-10-24 20:31] garik-code commented on #12033
it work for me

[code]

[2022-10-24 20:50] garethtdavies commented on #12033
As per the above, the initial issue was a misconfiguration of `-log-level` isn't logged by Docker.

[2022-10-25 06:29] lk86 commented on #11718
No I have not actively been looking at this, you're welcome to dig in further. My gut says this is either not enough resources or bad permissions on the mounted directory, as the most unique error i see in the logs is a write error: ```{"commit_id":"f361ba19d78ba930b5b551f58d1a82942c0f724b","sexp":["monitor.ml.Error",["Writer error from inner_monitor",["Unix.Unix_error","Broken pipe","writev_assum

[2022-10-25 06:30] lk86 commented on #11300
Yeah you can close this. In the Google Cloud Build world the container will already be cached without too much extra effort, no need to hack something together on the existing setup.

[2022-10-25 06:32] lk86 commented on #10944
Its really both, as we need to make a migrated database with the mainnet transactions and blocks to fully test the rosetta implementation, especially for performance (comparable or better performance with a full database is a strict requirement)

[2022-10-25 06:35] lk86 commented on #9485
yes go for it, let me know if you need any info

[2022-10-25 06:36] lk86 commented on #9332
Might as well close as the duplicate issue is being worked on

[2022-10-25 06:36] #9332 closed

[2022-10-25 06:39] lk86 commented on #9292
Mainly just don't change the basic usage or build process of the rosetta container, and then it should remain to-spec. See here for the specification itself: https://www.rosetta-api.org/docs/node_deployment.html

[2022-10-25 12:52] mrmr1993 commented on #11981
@EmrePiconbello the logs in that drive folder seem to be from July (running 1.3.1), and I can't see anything in logs@o1labs. Would you mind sharing your logs again?

[2022-10-25 14:22] EmrePiconbello opened #12037 "Mainnet Stable Release 1.3.1 not broadcasting transactions not gossiping well?"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/MinaProtocol/mina/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report. Please post those things in GitHub Discussions: https://github.com/MinaProtocol/mina/discussions

### Description

We send our pool transacti

[2022-10-25 14:24] EmrePiconbello commented on #11981
The first link was about this issue. I remember we were talking about this but couldn't find any details so opened a new issue for that one. https://github.com/MinaProtocol/mina/issues/12037

[2022-10-25 15:04] amc-ie opened #12038 "Edit and redeploy ci-build-me to refine CI trigger"
We need to refine how CI jobs are triggered in our current PR workflows. At present it is generally triggered with every push which can be wasteful (and costly). We need to remove the branch here https://github.com/MinaProtocol/mina/blob/develop/frontend/ci-build-me/src/index.js#L92 and redeploy the solution according to the steps in teh readme.md while  updating the associated documentation to re

[2022-10-25 15:08] amc-ie opened #12040 "Audit and reduce K8s cluster configurations"
In order to make our infra spend more efficient we need to ensure that all resource allocations make sense and are not being wasteful. Some of our clusters appear to be over provisioned and as such we should safely reduce the configurations so that we are being more efficient about what resources we subscribe to.

[2022-10-25 20:51] robinbb commented on #9292
@lk86 Okay, I think that you are confirming that it's okay to take this from you and assign to the Mina Foundation engineering team. I'll assign to @kaozenn for now, and @kantp can re-assign as appropriate.

[2022-10-25 20:59] #11300 closed

[2022-10-25 21:03] robinbb commented on #11718
Okay. I will assign to @kaozenn with @kantp being made aware in case he wants to re-assign.

To be clear - the reason for this being higher priority than "low" is the (claimed) reproducibility of the error. Please investigate.

[2022-10-25 21:10] robinbb commented on #5273
I think it's safe to take this, @balsoft

[2022-10-26 13:26] #11959 closed

[2022-10-26 13:26] #11919 closed

[2022-10-26 16:09] shimkiv opened #12042 "Issue check on latest Develop"

[2022-10-26 23:20] #11346 closed

[2022-10-27 05:33] kaozenn commented on #11718
I can also reproduce the error using the image `1.3.1.1-f361ba1-focal` mentioned in the description.
I doubt this is related to resources or permissions issues. For my tests, I have mounted a local volume to store psql data.
I can see the local folder populated correctly with psql data.
The issue occurs using both devnet and mainnet and the mina daemon crashes at the same time with the following l

[2022-10-27 07:32] Sventimir commented on #11848
I created a PR to add required types. I'm now trying to test the solution with `rosetta-cli` testing tool provided by Coinbase.

[2022-10-27 12:13] ylecornec commented on #11771
completed by #11836

[2022-10-27 12:13] #11771 closed

[2022-10-27 12:16] ylecornec commented on #11267
Completed by #11378

[2022-10-27 12:16] #11267 closed

[2022-10-27 12:24] mdlog opened #12051 "Stuck Block Height"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/MinaProtocol/mina/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report. Please post those things in GitHub Discussions: https://github.com/MinaProtocol/mina/discussions

### Summary

I am stuck in block 191635, bl

[2022-10-27 14:08] nholland94 commented on #12051
The logs indicate that your port is already in use. Please make sure you do not already have another daemon running on the machine in question.

[code]

[2022-10-27 17:48] mrmr1993 commented on #11981
@EmrePiconbello I'm only seeing crashes/restarts related to the node being unable to reach `bot.whatismyipaddress.com`. Is this the primary issue, or was there something else?

If so, can you check whether you can reach that address from a shell on those machines?

[2022-10-27 18:42] #11559 closed

[2022-10-27 20:47] joseandro commented on #10602
I am closing this epic since all underlying issues were also closed

[2022-10-27 20:47] #10602 closed

[2022-10-27 20:48] joseandro commented on #10603
@querolita does the last remaining issue left in this epic correctly conveys what's left to finish it?

[2022-10-27 20:49] joseandro opened #12055 "Pickles refactoring, phase 1"
The phase 1 of 2 will refactor, or create, the following components:
1. Interfaces: #12056
2. Documentation: #12058
3. Warnings: #12057
4. Dead code elimination: #12059

You can find more about the plans to improve the Pickles codebase here: https://www.notion.so/minaprotocol/Pickles-code-evolution-roadmap-7b516db790cd4ab098fceadfc814134e#8110d404ab8a4ea08448fd659e367664

[2022-10-27 20:53] joseandro opened #12056 "Add OCaml interfaces to every implementation file"
A necessary first step for documentation and abstraction is to have an interface files associated to every implementation file.

Merge the following PRs that add OCaml interfaces for Pickles and its types:
https://github.com/MinaProtocol/mina/pull/11858
https://github.com/MinaProtocol/mina/pull/11898
https://github.com/MinaProtocol/mina/pull/11897

[2022-10-27 20:57] joseandro opened #12057 "Reactivate warnings"
Today, warnings are few and far between so that one can see them as deactivated. So, to handle them we will activate the following modes:

- **dev mode:** **all** warnings enabled as errors, do not consider some of them on a per-warning basis, documented, e.g., in the `dune` file. That means `w +a -warn-error +a-4` if warning 4 is not to be considered as an error in dev mode.

- **release-mode:**

[2022-10-27 20:58] joseandro opened #12058 "Document the API of modules"
Within interface files, add as much documentation as possible for modules, functions, types, values, …

This can be seen as a form of second pass over the results from #12056

[2022-10-27 21:03] joseandro opened #12059 "Eliminate dead code"
The combination of interfaces, documentation, and warnings will enable more dead code discovery. Here we will go over Pickles codebase again to eliminate dead code before moving forward with the refactoring.

[2022-10-27 21:08] EmrePiconbello commented on #11981
@mrmr1993 Yes that was the weirdness of the node. Let me explain what happened in general. First, the node was in sync and performing fine. but the snark system was failing. I connected to the server to check it out it was going fine and whatever command I throw just hangs forever without response. Then I send the status and it crashed(This happened a few times in recent releases not sure about th

[2022-10-27 21:08] joseandro commented on #12055
@rbonichon can you add estimates to each of the issues found inside this epic?

[2022-10-27 21:10] joseandro commented on #11999
Since we decided on a new approach to migrating Snarky, I am closing the snarky-rs related issues for now.

[2022-10-27 21:10] #11999 closed

[2022-10-27 21:10] joseandro commented on #11998
@mrmr1993 what's the status of this issue? Hasn't @rbonichon taken over it?

[2022-10-27 21:12] joseandro commented on #11389
@mitschabaude has this work been deprioritized?

[2022-10-27 21:16] joseandro commented on #11464
Since we decided on a new approach to migrating Snarky, I am moving the snarky-rs related issues to the backlog. We can revisit them later if they are needed.

[2022-10-27 21:17] joseandro commented on #11465
Since we decided on a new approach to migrating Snarky, I am moving the snarky-rs related issues to the backlog. We can revisit them later if they are needed.

[2022-10-27 21:17] joseandro commented on #11907
Since we decided on a new approach to migrating Snarky, I am moving the snarky-rs related issues to the backlog. We can revisit them later if they are needed.

[2022-10-27 21:22] joseandro opened #12060 "Pickles cleanup + refactoring"
This epic includes phase 2 of [this approach](https://www.notion.so/minaprotocol/Pickles-code-evolution-roadmap-7b516db790cd4ab098fceadfc814134e#8110d404ab8a4ea08448fd659e367664). It also includes more Pickles cleanup and refactoring tasks we found along the way.

[2022-10-27 21:26] joseandro opened #12061 "Use module signatures whenever possible"
Module types are often single-use even though they look like module signatures defined elsewhere and sometimes they are, but they are not always used!

Where to find the common module signatures should be documented but even more so: easy to find. This is not really the case today.

On another level, `Make` functors lack an associated expected `module type S` so that multiple interfaces have somet

[2022-10-27 21:27] joseandro opened #12062 "Add more abstract types"
Types defined in the interface are all open and this results in leaky abstractions, as any user of a module can create values of the type directly even in the presence of creation function. Furthermore, this means that we cannot enforce invariants in the codebase

The goal is to make them private or abstract (opaque) when it makes sense. That means we will be able change the underlying implementat

[2022-10-27 21:27] joseandro opened #12063 "Reduce the scope for opened modules"
A lot of modules are globally opened for single or some very local use. This does not help in reading the code, especially when function names are repeatedly used through different modules.

The goal is to make the code as **syntactically** clear as possible.

[2022-10-27 21:27] joseandro opened #12064 "Tame hyper-polymorphic types"
Lots of types `t` are declared as some form of records whose field types are parameters of said type `t`. This allows genericity, which is good, but also too much of it since possible type constraints over field types cannot be enforced, AFAIK, in OCaml's type system.

Another drawback is clear when there are lots of type parameters (e.g., more than 3): the declaration becomes simply very hard to

[2022-10-27 21:28] joseandro opened #12065 "Eliminate dead code"
The combination of all tasks in this epic will likely lead to more dead code discovery. Here we will go over Pickles codebase again to eliminate dead code.

[2022-10-27 21:40] joseandro commented on #11202
I am closing this epic since all of its issues are done.

[2022-10-27 21:40] #11202 closed

[2022-10-27 21:40] joseandro commented on #10492
@carterbrett can we close this one?

[2022-10-27 21:41] #10428 closed

[2022-10-27 21:44] joseandro commented on #352
@amc-ie I see this task was moved to "Berkeley Triage". Do you remember why?

[2022-10-27 21:54] amc-ie commented on #352
The berkeley triage board reflects a read only status of items from other boards; items should only appear on that board that have the 'berkeley-rampup' label. Sorry if I am not understanding this correctly!

[2022-10-27 22:04] joseandro opened #12066 "Add tests for the finalization logic of the RangeCheck gate and enable it in Pickles"

[2022-10-28 02:22] deepthiskumar opened #12067 "receipt chain hash in precondition generated incorrectly"

[2022-10-28 07:01] kaozenn opened #12068 "Some of the distribution (stretch, bionic and bullseye) for `1.3.1.2-25388a0` are failing to run the rosetta api"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/MinaProtocol/mina/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report. Please post those things in GitHub Discussions: https://github.com/MinaProtocol/mina/discussions

### Description

Some of the distribution (

[2022-10-28 07:24] Sventimir commented on #9485
I started working on instructions on how to run `rosetta-cli` tests against a sandboxed node. I have written about how to run a sandbox node already, but I want to gatrher more data about the `rosetta-cli`, because there's quite a bit of configuration which I'd like to understand well.

[2022-10-28 07:29] mitschabaude commented on #11389
Not to my knowledge! It has to be fixed at least before the HF, otherwise we won't support fully recursion in user circuits

There's this PR, which has been open for a couple of weeks, which addresses the issue:
https://github.com/MinaProtocol/mina/pull/11698
It seems to have a couple of integration tests failing still

[2022-10-28 09:56] Sventimir commented on #11967
There is `rosetta-cli` testing tool released by Coinbase. This makes writing our own client far less important.

[2022-10-28 09:56] #11967 closed

[2022-10-28 15:07] robinbb commented on #8443
Since the Nix-based CI is not the one that produces the delivered software artifacts to the community, and since the artifacts built by the Nix-based CI are not tested, we cannot say that this issue is done. So, I will re-open.

If the above changes, then we could close this issue.

[2022-10-28 15:11] robinbb commented on #11892
@balsoft Can you point to the PR that delivers this work?

[2022-10-28 17:49] robinbb commented on #12068
I'm pretty sure I know what's happening here. Let me know via DM if you get stuck or want help or hints, @kaozenn .

[2022-10-29 19:05] mobileink opened #12070 "broken links in release notes"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/MinaProtocol/mina/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report. Please post those things in GitHub Discussions: https://github.com/MinaProtocol/mina/discussions

### Summary

Broken link in notes on [relea

[2022-10-29 19:16] mobileink opened #12071 "1.3.1.2 hotfix upgrade fail"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/MinaProtocol/mina/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report. Please post those things in GitHub Discussions: https://github.com/MinaProtocol/mina/discussions

### Description

Following the instructions

[2022-10-29 19:22] mobileink commented on #12071
Never mind. Evidently I had previously upgraded to 1.3.2 beta and forgot.  Adding --allow-downgrades resolved the issue.

[2022-10-29 19:22] #12071 closed

[2022-10-31 06:31] #9293 closed

[2022-10-31 08:02] Sventimir commented on #9485
I created PR to close this one: https://github.com/MinaProtocol/mina/pull/12069.

[2022-10-31 14:19] #10825 closed

[2022-10-31 14:33] rbonichon opened #12074 "Include `non_empty_list` library in `Mina_stdlib`"
- [ ] Move `non_empty_list` library to  `Mina_stdlib`
- [ ] Rename it to `nonempty_list`

_Originally posted by @psteckler in https://github.com/MinaProtocol/mina/issues/12039#issuecomment-1294126219_

[2022-10-31 14:53] amc-ie opened #12075 "Extend\apply CI logic so that certain branches do not cause failure when containing specific characters"

[2022-10-31 16:02] querolita commented on #10603
@joseandro Not sure what last remaining issue you're referring to, but there is still a long way ahead until this epic can be considered finished. Perhaps linking epics with each other could be a good idea in this case, because this epic itself depends on the FFMul epic and Keccak as well. A summary of what's left follows:

- Finish and test FFmul
- Refactor RangeCheck for chaining reasons
- Merge

[2022-10-31 16:41] o1-david opened #12077 "[snarky-ml] remove global eval_constraints"

[2022-10-31 16:41] #11997 closed

[2022-10-31 16:42] o1-david opened #12078 "[snarky-ml] factor out functors from snark0.ml"

[2022-10-31 16:43] xiangxiecrypto opened #12079 "Define the standard of notarization file"

[2022-10-31 16:44] xiangxiecrypto opened #12080 "Define the specs of notarization files"

[2022-10-31 16:47] xiangxiecrypto opened #12081 "Find examples related the notarization files. Estimate the overhead of the zk part"

[2022-10-31 16:52] deepthiskumar opened #12082 "Protocol state view during block production"
use current global slot for min balance calculation

- In sync with the transaction pool validation logic
- Add a new field `valid_until` for each account update that checks against current global slot. This field is different from the `global_slot`  in the precondition which is predicated on a protocol state and will continue to be checked against the previous protocol state
- Keep precondition c

[2022-10-31 16:53] o1-david opened #12083 "[snarky-ml] implement simple tests for the snarky API"

[2022-10-31 16:54] o1-david opened #12084 "[snarky-ml] figure out what tests are needed for snarky"
The output of this task will be a document enumerating all the Snarky OCaml existing features, unit and integration tests. This is part of our OKR. The document should also cover which unit and integration tests are needed to fully cover every feature and integration of Snarky.

[2022-10-31 16:57] o1-david opened #12085 "[snarky-ml] remove r1cs trick in snarky"

[2022-10-31 17:39] joseandro commented on #11909
@fabrizio-m  please turn this one into an Epic and break it down into smaller gates.

[2022-10-31 17:39] joseandro commented on #12079
@xiangxiecrypto please add an estimate to this task

[2022-10-31 19:07] bkase opened #12087 "GraphQL support for _recent_ fetching of actions/events"

[2022-10-31 22:10] kaozenn commented on #11718
The issues seems to be linked to running the container on an ARM64 processors. I keep investigating the resolution of this issue.

[2022-10-31 22:47] deepthiskumar opened #12088 "Investigate berkeley BP crashes"

[2022-11-01 04:25] kaozenn opened #12089 "Enable Multi-arch support for Mina Components"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/MinaProtocol/mina/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report. Please post those things in GitHub Discussions: https://github.com/MinaProtocol/mina/discussions

### Description

Currently, all the docker

[2022-11-01 08:07] balsoft opened #12090 "Document the Nix code and make it more maintainable"

[2022-11-01 12:07] kantp commented on #9442
Hi @lk86, do you know whether this issue is still relevant? If so, we can take it on as part of the rosetta API work.

[2022-11-01 12:10] kantp commented on #5616
Hi @bkase, do you want MF to take this on? It will be useful for testing the Rosetta changes, so we could do it as part of that project.

[2022-11-01 12:53] kantp commented on #8307
Putting this in the todo state. The task at this point is to check whether the builds are still failing, and then either close the issue, or fix the builds.

[2022-11-01 15:57] bkase commented on #12087
This can be done already with a large graphql query, but I don't think it's worth even exploring given that we really need this on top of the archive node

[2022-11-01 15:57] #12087 closed

[2022-11-01 19:31] fabrizio-m opened #12094 "implement snarky-rs EcAddComplete"

[2022-11-01 19:31] fabrizio-m opened #12095 "implement snarky-rs EcScale"

[2022-11-01 19:31] fabrizio-m opened #12096 "implement snasrky-rs EcEndoscale"

[2022-11-01 19:32] fabrizio-m opened #12097 "implement snarky-rs EcEndoscalar"

[2022-11-01 22:14] kaozenn opened #12099 "Rosetta: Create integration test scripts"
Integration tests are required to validate the implementation of the Rosetta API.

The test should create a sandbox where a Mina Archive node, The mina Daemon and the Rosetta API run in parallel.

We can use /README-sandbox.md as a reference.

[2022-11-01 23:36] kaozenn commented on #11718
Closing this issue as it will be addressed in https://github.com/MinaProtocol/mina/issues/12089

[2022-11-01 23:36] #11718 closed

[2022-11-02 07:32] shimkiv commented on #12089
Hey @kaozenn can you please prioritize this issue by adding corresponding label (low-, medium-, high-).
Thank you!

[2022-11-02 07:32] shimkiv commented on #12068
Hey @kaozenn can you please prioritize this issue by adding corresponding label (low-, medium-, high-).
Thank you!

[2022-11-02 07:37] shimkiv commented on #11981
Related to https://github.com/MinaProtocol/mina/issues/12031 and https://github.com/MinaProtocol/mina/issues/12032

[2022-11-02 07:39] shimkiv commented on #12037
Might be related to https://github.com/MinaProtocol/mina/issues/12031 and https://github.com/MinaProtocol/mina/issues/12032 (depending on env. configuration and runtime changes)

[2022-11-02 08:06] balsoft opened #12102 "Build a rosetta docker image with Nix"
It would be useful for work on Rosetta.

[2022-11-02 08:42] Sventimir commented on #9869
I'm investigating this issue. While the daemon seems to connect to the mainnet successfully, it indeed is not reachable by mina client from outside the container.

[2022-11-02 12:28] Sventimir commented on #9869
I've got trouble reproducing the issue exactly, because `release/1.3.0` is pretty old code and I have trouble compiling the CLI to use from outside the docker, but one thing that I notice is that the client tries to connect to the daemon on port 8301, which is not exposed in the `docker run` command. Please expose port `8301` and try again.

[2022-11-02 12:30] EmrePiconbello commented on #12037
Might have a relation with it but I can assure no IP change happened. All of our nodes are on static IP some of them are in our control since they are from our own infra.

[2022-11-02 12:39] EmrePiconbello commented on #11981
Might have a relation with it but I can assure no IP change happened. All of our nodes are on static IP some of them are in our control since they are from our own infra. (This one is co-located bare metal server from Germany we didn't spot any abnormalities across various logs and metrics we pull for monitoring) I don't have words for describing what happened in this issue because nothing adds up

[2022-11-02 13:31] ghost-not-in-the-shell commented on #10202
If we just want to remove the config `transaction_expiry_hr` and make `expiry_ns` of `network_pool` non-configurable. Then this would be a small change. Otherwise, if we also want to remove `expiry_ns`, then this would be a little complicated. We need to also remove the logic for expiry related things in transaction pool and also remove all the related tests.

[2022-11-02 14:23] robinbb commented on #11892
@mzajda0mina Please follow up.

[2022-11-02 15:06] shimkiv commented on #12042
Issue in another repo has been created.

[2022-11-02 15:06] #12042 closed

[2022-11-02 17:05] #11848 closed

[2022-11-02 17:57] koen84 opened #12104 "Crashloop - monitor.ml.Error"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/MinaProtocol/mina/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report. Please post those things in GitHub Discussions: https://github.com/MinaProtocol/mina/discussions

### Description

After upgrading to 1.3.1.2

[2022-11-02 18:35] #11868 closed

[2022-11-02 22:34] deepthiskumar opened #12105 "Replace hashless ledger with ledger mask in transaction validator on develop"

[2022-11-03 07:51] kantp commented on #5616
Spoke to Brandon: import/export is really nice to have, but not blocking the hardfork. Adding this to our backlog, but it's not highest priority.

[2022-11-03 07:57] kantp commented on #8084
I spoke to Joseph. We're taking this on, but it's not a critical issue, merely a suboptimal situation. It's not a blocker for the hardfork, so it's not top priority.

[2022-11-03 08:30] shimkiv commented on #12104
Hey @koen84 do you have any logs captured during this crash loop?

[2022-11-03 10:27] kantp commented on #10729
Is handled in #12010, so once that is merged, we cam close this.

[2022-11-03 10:28] kantp commented on #11194
@kaozenn Does that sound like something you can take on (not super urgently)?

[2022-11-03 11:10] kaozenn commented on #11194
I can take it on @kantp .

[2022-11-03 11:41] kantp commented on #11194
Perfect, thanks!

[2022-11-03 12:07] amc-ie opened #12108 "zkApps Monitoring Dashboard"

[2022-11-03 12:14] amc-ie commented on #12108
The purpose of this epic is to track and estimate all of the work items necessary to successfully deliver the proposed zkApps dashboard based on the predefined requirements.

[2022-11-03 13:17] amc-ie commented on #12040
We can close this once we have safely reduced the cluster configurations in the short term. If there are additional items for scaling etc we should create separate items to track this.

[2022-11-03 13:19] mitschabaude opened #12109 "Transaction pool rejects transaction which sets and immediately uses the verification key"
It should be possible to send a zkapp deployment account update (i.e., setting the verification key) and another account update which already uses proof authorization, in the same transaction.
The tx logic which is embedded in snarkyjs also allows such behaviour.
However, a user reports that the graphQL endpoint returns an error:
[code]
This seems to indicate to me that the graphQL endpoint doesn'

[2022-11-03 14:33] kantp commented on #9442
@balsoft It sounds to me like this is something that we will automatically get when we're building with nix. Would you agree?

[2022-11-03 17:50] joaosreis opened #12110 "Node daemon crashes when started with a local path specified as the configuration directory"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/MinaProtocol/mina/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report. Please post those things in GitHub Discussions: https://github.com/MinaProtocol/mina/discussions

### Description

The node daemon crashes wh

[2022-11-03 21:06] psteckler opened #12111 "Generate parameterized types `t`"
For a parameterized versioned type like
[code]
we want, at the module top level, to generate
[code]
Currently, we're generating
[code]
I've found a couple of instances where the missing type equality breaks compilation. The workaround is not to generate `t` using `no_toplevel_latest_type` and entering the definition above.

[2022-11-03 21:30] stevenplatt opened #12112 "Expose Postgres using GKE load balancer"

[2022-11-03 21:31] stevenplatt opened #12113 "Configure Postgres user and validate preliminary dashboard panel"

[2022-11-03 21:31] stevenplatt opened #12114 "Add "time" DB column to enable time series display in Grafana"

[2022-11-03 21:32] stevenplatt opened #12115 "Configure final dashboard queries with time series data"

[2022-11-03 21:32] stevenplatt opened #12116 "Complete zkApp dashboard infra code documentation"

[2022-11-04 00:01] deepthiskumar opened #12117 "Examine all the references to global-slot-since-genesis"

[2022-11-04 00:01] kaozenn commented on #8307
I ran a build against develop: https://buildkite.com/o-1-labs-2/mina/builds/25765

All Jobs related to Rosetta Docker Build are successful.
- rosetta-stretch-docker-image
- rosetta-bionic-docker-image
- rosetta-bulleyes-docker-image
- rosetta-focal-docker-image

Closing issue

[2022-11-04 00:01] #8307 closed

[2022-11-04 00:10] deepthiskumar opened #12118 "Remove timestamp and global_slot_since_genesis from network predicate and protocol state view"

[2022-11-04 00:55] kaozenn commented on #11194
@bkase If I understand correctly

We need to loop this curl from"today" until "today - _n_" until we get a 200

https://github.com/MinaProtocol/mina/blob/develop/src/app/rosetta/init-db.sh#L30

Right?

[2022-11-04 08:47] #9485 closed

[2022-11-04 08:49] Sventimir commented on #9869
I'm putting this aside for the time being, as I Have trouble gathering information and there's more urgent work to do on Rosetta.

[2022-11-04 08:51] Sventimir opened #12119 "Run rosetta-cli tests against our Rosetta implementation."
I'm currently working to run [rosetta-cli ](https://github.com/coinbase/rosetta-cli) against our Rosetta implementation. Rosetta-cli is a test suite for rosetta servers developed by Coinbase and we are using it to verify that our implementation conforms to the specification and standards set by Coinbase (who consumes tha API). I'm trying to run against my local blockchain for the moment, but for a

[2022-11-04 08:58] Sventimir commented on #12119
While running these tests I discovered some errors in our implementation, that were not specified in the initial scope of work on Rosetta implementation. I'm working to fix those errors as they appear. Problem is that those tests run sequentially, because results of previous tests serve as inputs to later ones, so I cannot know the full extent of failure until I fix all the tests. This is problema

[2022-11-04 09:29] kantp commented on #11061
@robinbb, are you ok with closing this with the above additions to documentation? There are still things we can do to improve the experience of course, but without a description, the issue seems a bit open ended.

[2022-11-04 09:38] kantp commented on #12090
@balsoft Is this already ini progress? I thought you mentioned you'd been working on this?

[2022-11-04 09:39] kantp commented on #12090
Also, this might be a duplicate of #10003?

[2022-11-04 13:24] robinbb commented on #11061
The issue is not well defined, I agree, but also the developer onboarding experience is still not good. So, please leave this open. I will, as part of this issue, give more details about how to improve the experience. First step is to see if @balsoft and @bryanhonof believe the experience is good.

[2022-11-04 15:13] kantp commented on #4885
Thanks, I can access the page now.

[2022-11-04 15:14] #8901 closed

[2022-11-04 16:32] deepthiskumar opened #12122 "Use VK from zkApp transaction to verify proofs in it"
When verifying transactions in the pool, we currently verify all the zkapp proofs using the VK from the best tip ledger. If a zkapp transaction has an update that sets the VK then use that to verify subsequent account updates with proofs

[2022-11-04 22:01] EmrePiconbello opened #12124 "1.3.2beta2 fix getting stuck while bootstrapping and general node health drop"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/MinaProtocol/mina/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report. Please post those things in GitHub Discussions: https://github.com/MinaProtocol/mina/discussions

### Description

We were monitoring the nod

[2022-11-05 20:29] deepthiskumar opened #12127 "mina-extract-blocks failing- cannot decode int64"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/MinaProtocol/mina/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report. Please post those things in GitHub Discussions: https://github.com/MinaProtocol/mina/discussions

### Description

mina-extract-blocks fails

[2022-11-05 20:42] deepthiskumar commented on #12067
Quickcheck generated transactions were failing to validate receipt chain hash precondition. This was because the generator assumed previous ones will pass and created subsequent preconditions based on that. Some transactions in the network failed which invalidated that assumption.

[2022-11-05 20:42] #12067 closed

[2022-11-07 09:46] Szymongib commented on #10456
We are running upstream docker images and are seeing similar issue:
[code]
[code]

Image version is `minaprotocol/mina-daemon:1.3.1.1-f361ba1-bullseye-mainnet`

[2022-11-07 15:28] kantp commented on #4885
To add context: the "best practices" section in the rosetta documentation says that it should be possible to configure nodes in a way that they prune historic data, to make a deployment more manageable. See https://www.rosetta-api.org/docs/storage_pruning.html

[2022-11-07 15:34] kantp commented on #4885
I did some looking at old documents, and talked to @nholland94. It looks like historically, the abiility to prune at one point was about to become a hard requirement, but then ended up being a recommended best practice (we have not implemented it yet).

We should plan to implement this, but at a priority that is lower than the changes needed to support the hardfork, and also lower than ensuring th

[2022-11-07 15:36] kantp commented on #9869
Thanks @Sventimir, that sounds good!

I will move it from "blocked" to the backlog, as it's only blocked on having someone with nothing more urgent and important to do, not on other work that is a prerequiusite.

[2022-11-07 15:38] nholland94 commented on #12124
@EmrePiconbello I requested access to your logs on google drive so that I can take a closer look.

[2022-11-07 15:40] kantp commented on #5886
@kaozenn is already working on this in #12099. @kaozenn, would you see this ticket as the next step after #12099, or as a duplicate?

[2022-11-07 23:38] #12115 closed

[2022-11-07 23:38] #12112 closed

[2022-11-07 23:38] #12113 closed

[2022-11-08 05:15] kaozenn commented on #5886
@kantp, You are right. This ticket is about implementing the integration tests described in https://github.com/MinaProtocol/mina/issues/12099 in the CI

[2022-11-08 09:37] kantp commented on #5886
Ok, so is this a duplicate that we should close, or the next step after #12099?

[2022-11-08 09:40] kaozenn commented on #5886
This ticket is the next step after https://github.com/MinaProtocol/mina/issues/12099. We should not close it.

[2022-11-08 09:52] kantp commented on #5886
Thanks for the clarification!

[2022-11-08 13:22] #11779 closed

[2022-11-08 13:23] amc-ie commented on #12038
This has been implemented, closing.

[2022-11-08 13:23] #12038 closed

[2022-11-08 13:24] amc-ie commented on #11565
HI @matheus-o1labs , I think is done (thank you!), can we can close it?

[2022-11-08 14:13] berkingurcan commented on #10943
Is there any suggestion or required information about how to solve it? Because I have to solve it to run tests fluently at back end side. @mitschabaude

[2022-11-08 19:12] joseandro commented on #12084
@o1-david can we close this?

[2022-11-08 19:18] joseandro commented on #12083
@o1-david can you be more specific? Add details that can give reviewers enough information to review the code (visibility). For example:
1. What tests are you referring to?
2. What are the use cases you are covering?
3. What is feature you are testing?
4. If it is an integration test case, please specify it. And if so, what are the other system components this integration is covering?

Also, every

[2022-11-08 19:21] joseandro commented on #12083
@o1-david you also seem to be already working on this, I moved it from the backlog to "in progress"

[2022-11-08 21:23] joseandro opened #12133 "zkOracles lib"

[2022-11-08 21:27] joseandro opened #12134 "Secure Two-Party Computation"
Using Garbled Circuits + Oblivious Transfer (Base OT + OT Extension)

[2022-11-08 21:32] joseandro opened #12135 "3PC Handshake"

[2022-11-08 21:34] joseandro opened #12136 "2pc-ECtF"

[2022-11-08 21:34] joseandro opened #12137 "2pc-PRF"

[2022-11-08 21:34] joseandro opened #12138 "2pc-PRFCheck"

[2022-11-08 21:34] joseandro opened #12139 "2pc-Der"

[2022-11-08 21:34] joseandro opened #12140 "Combine into 3PC Handshake"

[2022-11-08 21:37] joseandro opened #12141 "ZkOracles Queries"

[2022-11-08 21:38] joseandro opened #12142 "2pc-Precompute-Parameter"

[2022-11-08 21:38] joseandro opened #12143 "2pc-GHASH"

[2022-11-08 21:38] joseandro opened #12144 "2pc-AES-TCR"

[2022-11-08 21:38] joseandro opened #12145 "2pc-GHASH"

[2022-11-08 21:38] joseandro opened #12146 "Combine into 2pc-AES-GCM"

[2022-11-08 21:45] joseandro opened #12147 "Integration test with TLS"

[2022-11-08 21:46] joseandro opened #12148 "Creation of a test plan"

[2022-11-08 21:46] joseandro opened #12149 "TLS integration tests"

[2022-11-08 21:50] joseandro opened #12150 "TLS protocol support layer"

[2022-11-08 21:51] joseandro opened #12151 "Estimate effort"

[2022-11-08 21:51] joseandro opened #12152 "Layer migration"

[2022-11-08 21:53] joseandro opened #12153 "zkOracles Notary"

[2022-11-08 21:56] joseandro opened #12154 "Generate the notarization proofs"

[2022-11-09 01:30] xiangxiecrypto commented on #11563
This task is postponed to the next phase.

[2022-11-09 01:32] xiangxiecrypto commented on #12154
Need to clarify this.
If it is only a signed file by the notary, yes.
If it is related to the application and the client generates the proof, we need to ensure what statement to prove.

[2022-11-09 09:22] mzajda0mina commented on #7986
@lk86 is this still valid issue?

[2022-11-09 09:36] mzajda0mina commented on #5565
relates to #11976 specific for nix deb package

[2022-11-09 12:57] amc-ie opened #12159 "Investigate Zenhub\Github options for stat retrieval"

[2022-11-09 12:59] amc-ie commented on #12159
The outcome of this work item should be knowing what is possible and the limitations or each approach to appraise if the information available is sufficient.

[2022-11-09 13:07] amc-ie opened #12160 "Investigate storage usage and implement pruning logic to increase efficiency"

[2022-11-09 13:08] amc-ie opened #12161 "Investigate cloud logging usage and implement pruning logic to increase efficiency"

[2022-11-09 14:09] #12040 closed

[2022-11-09 14:10] #11307 closed

[2022-11-09 14:11] matheus-o1labs commented on #11565
Pipeline created, issue closed.

[2022-11-09 14:11] #11565 closed

[2022-11-09 14:11] matheus-o1labs commented on #11813
Change implemented. Issue closed.

[2022-11-09 14:11] #11813 closed

[2022-11-09 14:12] matheus-o1labs commented on #10778
As we will not buy a comercial license, this issue can be closed, as it will me moved to MF.

[2022-11-09 14:12] #10778 closed

[2022-11-09 14:12] matheus-o1labs commented on #11485
Change implemented in PROD.

[2022-11-09 14:12] #11485 closed

[2022-11-09 14:13] matheus-o1labs commented on #11506
Change implemented in PROD.

[2022-11-09 14:13] #11506 closed

[2022-11-09 14:14] matheus-o1labs commented on #11295
This was due to node preemptive in gcp.

[2022-11-09 14:14] #11295 closed

[2022-11-09 19:18] #8278 closed

[2022-11-09 19:19] #8468 closed

[2022-11-09 19:22] QuiteStochastic commented on #8948
this was implemented as `Wait_condition.block_height_growth`

[2022-11-09 19:22] #8948 closed

[2022-11-09 19:24] #9138 closed

[2022-11-09 19:24] QuiteStochastic commented on #9138
update 2022/11/09, this is now running for berkeley as well as mainnet

https://console.cloud.google.com/storage/browser/mina-archive-dumps

[2022-11-09 22:51] psteckler opened #12169 "For linter, don't print manifest in type definitions, unless abstract"
The linter will flag version changes if the definition
[code]
becomes
[code]
because the manifest (`Quux.t`) is printed. Don't print such manifests in `print_versioned_types`, unless the kind is abstract, like
[code]

[2022-11-10 00:45] psteckler opened #12170 "Possible bug in sync ledger code"
When syncing disjoint ledgers, saw an exception here:

https://github.com/MinaProtocol/mina/blob/develop/src/lib/syncable_ledger/syncable_ledger.ml#L415

[2022-11-10 07:36] robinbb commented on #5565
@mzajda0mina Why is this issue marked "Archived in project"? Is it done?

[2022-11-10 15:27] mzajda0mina commented on #5565
@robinbb is a duplicate of #11976

[2022-11-10 15:29] #11683 closed

[2022-11-10 15:30] #11389 closed

[2022-11-10 18:50] mzajda0mina commented on #5565
@robinbb hm, yes, I was not correct re the duplicate ticket number. I did it during standup, where a duplicate was pointed to me, but now I don't see it... I will re-check. I see also that I added the [nix-dep] prefix in the title. It means that it depends on NIX work. If we get NIX working the issue doesn't exist. The title is misleading, too. It's about PostgreSQL dependency and not  Archive nod

[2022-11-10 19:20] robinbb commented on #5565
So, unless there is a duplicate issue identified, we should not archive this one because we might then lose track of it. If a duplicate issue is identified, we can close this one and mark it "Done".

[2022-11-10 20:55] #12169 closed

[2022-11-10 21:26] joseandro opened #12177 "RangeCheck gadget - two-limbs input mode - or Matthew's optimised approach"
- [ ] Add “2-limbs input mode” using coeff
- [ ] Add a bunch of tests for the new mode

[2022-11-10 22:23] #12114 closed

[2022-11-10 23:00] QuiteStochastic commented on #11017
this ticket is technically just to make the documentation, but I'm reopening it just to help track the renewed effort to check off the rest of the boxes

[2022-11-11 02:38] xiangxiecrypto commented on #12080
Done, need review. see here: https://github.com/o1-labs/zk-oracles/pull/1

[2022-11-11 02:42] xiangxiecrypto commented on #12079
this issue is the same as #12080. Maybe I create two duplicate issues by accident.

[2022-11-11 02:47] xiangxiecrypto commented on #12081
created a tool to generate notarization files, but the messages are meaningless. see https://github.com/o1-labs/zk-oracles/pull/1.
Need to find a concrete example of the notarization files according to real apis.

[2022-11-12 13:10] joseandro commented on #12079
OK, so I am closing this one!

[2022-11-12 13:10] #12079 closed

[2022-11-13 09:39] jq-rs opened #12182 "[Error] Error when running uptime service SNARK worker on a transaction"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/MinaProtocol/mina/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report. Please post those things in GitHub Discussions: https://github.com/MinaProtocol/mina/discussions

### Description

I am seeing the following

[2022-11-14 08:38] Sventimir opened #12184 "Rosettta-cli tests against ZK Apps."
Once rosetta-cli test pass against usual coin transfers, we also need to run them against a blockchain containing newly added types of transactions related to ZK Apps. The plan here is againnto create a sandbox blockchain, deploy some ZK Apps on it and interact with them a bit. Then run rosetta-cli tests against these transactions as well.

[2022-11-14 08:41] Sventimir commented on #12184
Is I don't know how to develop ZK Apps yet, or what can or cannot be done with them, I need to learn a little bit first. At this point, I think, I have a working set up where I should be able to deploy a ZK App to a sandboxed blockchain. From this point I will experiment further to write something interesting to interact with.

[2022-11-14 11:06] mitschabaude commented on #10943
@berkingurcan this is a complex issue that our team probably has to solve ourselves

[2022-11-14 11:13] shimkiv commented on #8367
I'll close this issue as `Stale`. Please feel free to open another one should you experience any issues in future.

[2022-11-14 11:13] #8367 closed

[2022-11-14 11:13] shimkiv commented on #6965
I'll close this issue as `Stale`. Please feel free to open another one should you experience any issues in future.

[2022-11-14 11:13] #6965 closed

[2022-11-14 13:33] rbonichon commented on #12055
#12059 and #10257 depends on PR #12120 , which in turn depends on #11897, which will close #12056

[2022-11-14 13:38] rbonichon commented on #12066
My estimate of 13 is a rough guess as I don't have a good idea of what the work entails.

[2022-11-14 15:59] joseandro opened #12187 "ROT implementation improvements"
- [ ] Being able to customize rotation offset using coefficients to store 2^rot
- [ ] Figure out where we want to store the public information that the Keccak table represents

[2022-11-14 16:24] o1-david opened #12188 "implement ASM-like language for debugging in kimchi"

[2022-11-14 16:26] o1-david opened #12189 "[snarky] implement tests of the monadic interface"

[2022-11-14 16:27] o1-david opened #12190 "[snarky] implement tests for simple circuits"

[2022-11-14 16:28] o1-david opened #12191 "snarky-ml -> snarky-rs"

[2022-11-14 16:28] joseandro commented on #12191
+1

[2022-11-14 16:28] o1-david opened #12192 "[snarky][refactor] remove reliance of Typ on (checked) AST"

[2022-11-14 16:29] #12084 closed

[2022-11-14 16:32] o1-david opened #12193 "document new migration plan for snarky-rs"

[2022-11-14 16:36] o1-david opened #12194 "figure out guardian stuff"

[2022-11-14 17:41] #9845 closed

[2022-11-14 20:51] psteckler opened #12200 "Remove redundant `authorization_kind` in archive schema"
That column appears in both `zkapp_account_update` and `zkapp_account_update_body`.

~Suggest that it be removed from the body.~

[2022-11-14 21:51] matheus-o1labs opened #12201 "Create read-only postgres user in the Kubernetes Secret"

[2022-11-14 21:52] matheus-o1labs opened #12202 "Assign zkapps middleware to non-preemptive nodes"
- [x] changing for persistent volumes
- [x] changing to non-preemptive nodes

[2022-11-14 21:58] matheus-o1labs opened #12203 "Schedule archivedb missing block patching"

[2022-11-15 09:04] mzajda0mina commented on #11126
Update after talking with @balsoft :
- integration test fails
- increasing timeout between triggering transactions and checking blockchain doesn't help
- not sure what to look for in integration test log
- only 1 of all integration tests is failing
- this one is failing https://buildkite.com/tweag-mina-demo/mina/builds/3317#01845aea-c3be-4813-be93-e0b3d6a037f9

[2022-11-15 09:09] mzajda0mina commented on #11892
Update after talking with Alex

Needs low level NIX work to replace default work distribution.
1. We are not using "remote builder". Reliability reasons.
2. We have multiple servers that communicate via shared cache
3. Shared cache protocol: copying derivations was extremely slow due to sequential processing big numer of small files
4. Alex intends to replace native derivations protocol with copyi

[2022-11-15 09:12] mzajda0mina commented on #12102
Update:
1. Alex is getting an error, when running an image locally
2. Upstream uses Debian as base
3. Alex is using NIX to build rosetta image

@balsoft please push a branch and link the error

[2022-11-15 09:20] mzajda0mina commented on #12102
the error:

`(monitor.ml.Error
 (Failure
   "Could not get precomputed values, error: (monitor.ml.Error Db_error.Out_of_leaves\
  \n (\"Raised at Base__Error.raise in file \\\"src/error.ml\\\" (inlined), line 8, characters 14-30\"\
  \n  \"Called from Base__Or_error.ok_exn in file \\\"src/or_error.ml\\\", line 84, characters 17-32\"\
  \n  \"Called from Mina_ledger__Ledger.Ledger_inner.create_new_

[2022-11-15 14:20] mzajda0mina commented on #10693
Update after meeting with eng:
* it needs probably 1/2 day of work
* needs to allocate time to continue

[2022-11-15 14:57] michal0mina opened #12205 "[v2] Build local testing env"
In order to proceed with Leaderboard project a developer needs local environment for testing changes.

* Run one of Berkeley zkApp tutorials
* Get archiving node db dump from Berkeley testnet
* Checkout Leaderboard code
* Create copy of google spreadsheet

Run a script and validate local + spreadsheet execution path

Mind dependencies may include:
* local PostgresSQL
* local npm & Node env (in ord

[2022-11-15 14:57] michal0mina opened #12206 "[v2] Extend query script for v2"
Extend script to query archiving node database for information relevant to v2 Leaderboard
v2 goal: did user run zkApp against testnet Berkeley network?

1. Get zkAddresses for a users
2. Implement SQL query to read user verification key and aggregate the data

Definition of Done
* correctly recognize if user run a zkApp againts chain

[2022-11-15 14:57] michal0mina opened #12207 "[v2] Extend spreedsheet for v2"
1. Create Mina Foundation leaderboard spreadsheet (copy)
2. Check compatibility of spreadsheet v2 with query script v2
3. Adjust if needed (column names)
4. Include v2 data (zkApp deployment points) in final score for a user in leaderboard

Definition of Done:
* correctly save data from query script in the spreadsheet v2
* v2 data (zkApp deployment) is included in the final score for a user

[2022-11-15 14:57] michal0mina opened #12208 "[v2] Update and control production environment"
Leaderboard v1 runs on O(1) resources.

1. Prepare the list of minimal dependencies for v2 to run correctly
    * new version of query script
    * adjusted cron job and entry point to query script
    * new credentials for spreadsheet - how and where to input them
    * how the frontend of leaderboard is affected?

2. Extend MF documentation

Definition of done
* Leaderbord v2 works on berkeley t

[2022-11-15 14:57] michal0mina opened #12209 "[next epic] Take over production envirionment"
Migrate O(1)'s elements of the testnet leaderboard to MF

1. Host & run archiving node
2. Host & run leaderboard frontend (with a query script?)
3. Host & run cron job
4. Own google spreadsheep
5. Desing and document deployment and backup procedures

Definition of done
* Testnet leaderboard runs under MF control

[2022-11-15 14:57] michal0mina opened #12210 "[v2 epic] Leaderboard v2"
Support leaderboard project to implement v2 requirements

[2022-11-15 20:48] amc-ie opened #12213 "1.3.1"

[2022-11-15 20:53] amc-ie commented on #12213
This epic serves as a focal point to link and collate the errors we are seeing to aid collective investigation and debugging. Please link items where appropriate along with any useful information.

[2022-11-16 02:05] kaozenn opened #12216 "mina libp2p generate-keypair does not produce any key in the mina-rosetta container"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/MinaProtocol/mina/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report. Please post those things in GitHub Discussions: https://github.com/MinaProtocol/mina/discussions

### Description

As part of the Rosetta int

[2022-11-16 08:29] Sventimir opened #12218 "Integrate npm into Nix environment"
With the advent of zkapps it becomes useful to have the possibility of writing, compiling and testing them within our Nix environment. For this reason some additional software is required, specifically `npm` (Node.js Package Manager). Most importantly we want to be able to build `snarkyjs` bindings so that we can ensure we're using a version of `snarkyjs` compatible with our Mina daemon. Secondly,

[2022-11-16 11:30] Sventimir commented on #12218
Note that `scripts/build-snarkyjs-node.sh` seems to be buggy at the moment. It tries to build `src/lib/snarky_js_bindings/snarkyjs/src/snarky/gen/js-layout.ts`, which is an undefined target. I have removed this line and was able to move on building the bindings, so maybe it's unnecessary/obsolete?

[2022-11-16 17:10] joseandro opened #12219 "Custom gates Pickles finalization logic"
This is the epic for adding finalization logic for the custom gates to Pickles.
All these tasks should be similar to #11446 for the lookup gate. That PR can be used as a rough template for the changes.

TODO(@mrmr1993): may add more detail to the sequence of changes required.

[2022-11-16 17:14] joseandro opened #12220 "Add tests for the finalization logic of the XOR gate and enable it in Pickles"

[2022-11-16 17:15] joseandro opened #12221 "Add tests for the finalization logic of the ROT gate and enable it in Pickles"

[2022-11-16 17:15] joseandro opened #12222 "Add tests for the finalization logic of the FFA gate and enable it in Pickles"

[2022-11-16 17:15] joseandro opened #12223 "Add tests for the finalization logic of the FFM gate and enable it in Pickles"
Matthew: Since it occurred to me after pairing: can we have 2 versions of each of the tests, 1 with features= Yes or No and 1 with features= Maybe? Hopefully that's easy to do, and it'll give us coverage of both the optional and non-optional logic!

[2022-11-16 17:33] amc-ie opened #12224 "[Epic] CI Improvements"

[2022-11-16 18:16] nholland94 commented on #12124
@EmrePiconbello do you still continue to see your node getting stuck in bootstrap?

One potential reason for the behavior could be that the verifier process was incompatible with the daemon process. In theory, this could happen if you upgrade or downgrade the mina daemon package while the daemon is still running. Do you happen to know if that is a possibility in your case?

[2022-11-16 19:07] EmrePiconbello commented on #12124
@nholland94 I am not sure we did spot it once more. I am sure it's not an upgrade thing because we can't upgrade or downgrade it without completely removing it since we utilize docker for the nodes.

[2022-11-16 19:29] #11855 closed

[2022-11-16 20:19] psteckler commented on #12200
In #12227, removed it from `zkapp_account_update`, not the body. The value in the body matches what's in the OCaml code, while the value not in the body stood in for an actual authorization.

[2022-11-16 22:31] #12200 closed

[2022-11-16 22:55] psteckler commented on #11821
The CLI commands to compute a receipt chain hash and cancel a transaction consume a transaction ID, those could also be updated to be version-agnostic

[2022-11-16 23:54] psteckler commented on #11821
We won't need to cancel transactions encoded with Base58Check, so `cancel-transaction` will only accept Base64 ids.

Past the hard fork, it's not likely that someone will want to compute a receipt chain hash for an old transaction, so `compute-receipt-chain-hash` will only accept Base64 ids.

[2022-11-16 23:54] #11821 closed

[2022-11-17 00:18] #11846 closed

[2022-11-17 01:17] kaozenn commented on #12216
It looks like it is an know issue:
In the _mina-daemon_ image, the `libp2p_helper` is called `coda-libp2p_helper` whereas in the _min-rosetta_ image, it is called _libp2p_helper_
In _src/app/rosetta/docker-start.sh_, there is an environment variable set to workaround this
`export MINA_LIBP2P_HELPER_PATH=/usr/local/bin/libp2p_helper`

[2022-11-17 04:13] deepthiskumar opened #12228 "Check that block files for every block in the canonical chain is present"

[2022-11-17 14:49] amc-ie opened #12230 "Relax gating rules around "!approved-for-mainnet" for snarkyjs"

[2022-11-17 14:51] amc-ie commented on #12230
From here - https://o1-labs.slack.com/archives/C01SJSXSM7H/p1668609088192749

[2022-11-17 16:19] kantp commented on #12119
Moving to blocked, as we're waiting on a reply in the forums/from coinbase.

[2022-11-17 16:28] kantp opened #12232 "Postgres version is set to 9.6 on artefact minaprotocol/mina-rosetta:1.3.2beta2-release-2.0.0-32a9161-stretch"

[2022-11-17 22:40] kaozenn commented on #12232
This is the default version of PostgreSQL available on Debian Stretch (Debian 9.0 was initially released on June 17th, 2017)

All the distributions we support provide a different version of PostGreSQL

[Debian 11 (bullseye)](https://www.debian.org/releases/bullseye/) — current stable release: **PostgreSQL 13.8**
[Debian 10 (buster)](https://www.debian.org/releases/buster/) — current oldstable rele

[2022-11-18 08:37] #10729 closed

[2022-11-18 08:56] kaozenn commented on #11194
!ci-build-me

[2022-11-18 14:46] amc-ie opened #12240 "Create separate labels and\or ProjectIDs to allow for spend breakdowns"

[2022-11-18 14:48] amc-ie opened #12241 "Implement efficient scaling rules to reduce cluster allocations"

[2022-11-18 17:31] lk86 opened #12242 "Deploy upgraded mainnet archive nodes with more storage and future-proofing"

[2022-11-18 18:47] psteckler commented on #12074
Done in #12167.

[2022-11-18 18:47] #12074 closed

[2022-11-18 19:03] psteckler commented on #11505
@robinbb The database migration work has not yet started.

[2022-11-18 19:53] robinbb commented on #11505
@psteckler Okay. There may be a way to avoid some of the migration work. I have a team that can help. Please contact me when planning this work, if the work quantity is large, if you want to offload some of it.

[2022-11-18 19:55] psteckler commented on #11505
@robinbb What did you have in mind? My thought was to use a modified version of the replayer app to populate a db with the new schema.

[2022-11-18 20:32] deepthiskumar commented on #11628
https://github.com/MinaProtocol/mina/pull/11942

[2022-11-18 20:32] #11628 closed

[2022-11-18 22:27] joseandro opened #12244 "Investigate the approach to zk unfriendly primitives"
Many of the primitives in the TLS protocol are zk unfriendly. Its transcript might also add more constraints than Pickles is capable of handling in a single recursion or even splitting across different iterations. This effort will investigate and estimate these topics.

[2022-11-18 22:32] joseandro opened #12245 "Get notarization files for two APIs"

[2022-11-18 22:32] joseandro opened #12246 "List all the cryptography primitives involved in the TLS workflow."

[2022-11-18 22:35] joseandro opened #12247 "Estimate the size for the zkOracles circuits"
We need to estimate a size for the circuit given #12246 and #12245.
The outcome of this task should be an estimate for the number of constraints how many recursions are needed in Pickles to make it work (this is, if we can make it work by splitting the circuit containing the primitives and TLS transcript).

[2022-11-19 03:11] robinbb commented on #11505
Ah, ha! I was thinking same. Did you have plans on working on this any time soon?

[2022-11-19 03:12] psteckler commented on #11505
Probably not for 3 weeks, at least.

[2022-11-19 03:13] psteckler commented on #11505
The app should be able to start at a given block or height, so the migration can be done incrementally.

[2022-11-19 04:00] #11194 closed

[2022-11-19 13:10] EmrePiconbello commented on #12124
@nholland94 I did add new logs to the folder I shared. As I mentioned normally nodes restart by our automation so we don't see this problem. This node is out of the automated system now right now first crash the node had didn't recover. The transactions we dump to the node might have some effect there. In general drop in node, responsiveness is more concerning than these hangs though. Nodes also d

[2022-11-20 22:24] kaozenn opened #12250 "Update CLI Configuration File to handle offline mode"
Rosetta CLI relies on 2 instances of Rosetta API running. One ONLINE and one OFFLINE. As part of the All in one container, they can live together, exposed on a different port

[2022-11-20 23:07] kaozenn opened #12252 "Add rosetta-cli-configuration to the mina rosetta artifact"
Rosetta CLI configuration is required to run the Integrations test
This ticket is about adding the following configuration to the mina-rosetta artifact
- ./src/app/rosetta/rosetta-cli-config/config.json
- ./src/app/rosetta/rosetta-cli-config/mina.ros

[2022-11-21 01:45] kaozenn opened #12254 "Download Missing Blocks - Could not create block from JSON"
I am trying to restore an archive node from the Berkeley network.
To do this, I execute 2 steps:

- Download `${MINA_NETWORK}-archive-dump-${DATE}` and populate the DB: `psql -f "${MINA_NETWORK}-archive-dump-${DATE}.sql" "${PG_CONN}"`
- Download missing blocks

While running the second step, the function `mina-archive-blocks --precomputed --archive-uri "$1" "$2"`
returns the following error

[code

[2022-11-21 02:33] kaozenn commented on #12254
Looking at the archive dump _berkeley-archive-dump-2022-11-21_0000.sql_, the `parent_id`  of the `parent_hash` _3NKjgimDyig2ZaUAarNz9pXPK5aTQs4CetbmBRjmwKLsqqaMaxBu_  has a value of `\N` whereas other blocks have an integer. I reckon this is the issue

[code]

[2022-11-21 12:52] #12187 closed

[2022-11-21 18:52] bkase opened #12256 "Integration test to ensure txns with no failing account-updates add to pool, yes failing updates rejected"
This should cover that any arbitrary failing txn / succeeding txn make it to the txn pool.

Specific failures can be covered by unit tests.

[2022-11-21 18:54] bkase opened #12257 "Unit tests for use-vk-set-mid-txn"
Unit tests for checking that vk can be updated mid txn and used later (with one that fails that uses the old vk)

[2022-11-21 22:36] #12250 closed

[2022-11-21 23:51] matheus-o1labs opened #12258 "change data collection frequency"

[2022-11-21 23:51] matheus-o1labs opened #12259 "convert vm to kubernetes deploy"

[2022-11-22 00:31] stevenplatt commented on #11991
This item is completed. Full documentation of Mina bootstrap tests are located at: https://github.com/MinaProtocol/mina-deployments/blob/main/benchmarks/bootstrap_process/README.md

[2022-11-22 00:44] kaozenn commented on #12254
The issue was due to the archive dump still being taken from the old Berkeley Infra (We still needed to collect remaining data).
[New archive dumps](https://storage.googleapis.com/mina-archive-dumps/berkeley-archive-dump-2022-11-22_0000.sql.tar.gz) are taken from the new Berkeley Testnet deployment from now on.
I am now able to restore an archive node from this backup.

Closing issue.

[2022-11-22 00:44] #12254 closed

[2022-11-22 00:44] stevenplatt commented on #10513
A [DRAFT] final research report of bootstrap testing is located: https://github.com/MinaProtocol/mina-deployments/blob/main/benchmarks/bootstrap_process/research-report.md

At the end of this report is an explanation of consensus safety, based on the time required for bootstrap operations. Final bootstrap numbers are needed to complete this analysis.

After PR 11973 is merged, I will rerun the boo

[2022-11-22 00:46] stevenplatt commented on #12116
A placeholder readme file for this documentation is located at:
https://github.com/MinaProtocol/mina-deployments/blob/main/zkApps_dashboard/README.md

[2022-11-22 00:57] stevenplatt opened #12260 "Redeploy Berkeley testnet nightly archive DB dumps"
Mina networks currently export a copy of the archive database nightly. Currently, this export is not part of the terraform deployment and must be added afterwards.

This task is relating to a reported issue: https://github.com/MinaProtocol/mina/issues/12254

[2022-11-22 01:00] #12260 closed

[2022-11-22 01:00] stevenplatt commented on #12260
The archive cron has been added into the recently redeployed berkeley testnet. Source yaml configurations for this deployment are located at: https://github.com/MinaProtocol/mina-deployments/blob/main/berkeley_testnet/cron_jobs/berkeley-dump-archive-cronjob.yaml

[2022-11-22 01:07] stevenplatt commented on #12242
This item has been completed. A new `archive-4` has been deployed to mainnet, using a 100GB local disk.

Because this is a manual configuration, the source code has not been merged into the main repository, but is stored in a branch within `mina-deployments` named `mainnet-archive-4`.

A diff of the changed made for the deployment are located here: https://github.com/MinaProtocol/mina-deployments/

[2022-11-22 01:07] #12242 closed

[2022-11-22 01:12] stevenplatt opened #12261 "Redeploy the Berkeley Testnet"
This item is to document the deployment of the Berkeley testnet.

[2022-11-22 01:16] stevenplatt commented on #12261
This item is completed. The testnet was redeployment on Tue, Nov 15 between 1-5pm PST.
A few complications that occurred during the deployment are:

- Archive processes failed during the first deploy - this was due to the archive schema files not being updated. The archive schema does not always change between deployments, I will add a note for this to testnet documentation if it does not exist al

[2022-11-22 01:16] #12261 closed

[2022-11-22 01:18] stevenplatt commented on #12261
Also - the nightly database dump job was also not included with the current testnet configurations and needed to be redeployed. That redeployment is documented here: https://app.zenhub.com/workspaces/velocity-62264fddc441a100183f7f86/issues/minaprotocol/mina/12260

[2022-11-22 02:54] kaozenn opened #12262 "Update Rosetta CLI version in the mina-rosetta artifact"

[2022-11-22 14:12] michal0mina commented on #11892
deployed to google cloud (tweag)

[2022-11-23 00:32] kaozenn opened #12266 "Add logic to integration test scripts to pull the correct Berkeley Commit ID"

[2022-11-23 00:46] kaozenn commented on #12232
I will align all the PostgreSQL version to the latest: **PostgreSQL 13.8** to close off this issue

[2022-11-23 08:42] #12099 closed

[2022-11-23 09:59] #12252 closed

[2022-11-23 12:34] harchaouiN opened #12268 "dune build fails with 2 errors Error: This expression has type Pasta_bindings.Fp.t but an expression was expected of type State_hash."
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/MinaProtocol/mina/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report. Please post those things in GitHub Discussions: https://github.com/MinaProtocol/mina/discussions

### Summary

I installed all the dep on ubu

[2022-11-25 17:59] maht0rz commented on #12014
Could we also add .signFields as discussed here? https://github.com/aurowallet/auro-wallet-browser-extension/issues/16

[2022-11-27 09:50] winlin commented on #10456
we are run mina node with 8CPU & 16 G RAM, often got OOM:

[code]

[2022-11-27 22:33] kaozenn opened #12273 "Enforce Integration tests to use berkeley mina daemon image"
Currently,
When a Mina Rosetta artefact is build, the Mina Daemon included in the artifact is tight a a specific Network (devnet, berkeley, mainnet). In order to keep Rosetta integration tests consisting, we need to tight the mina daemon to a specific Network: Berkeley.

[2022-11-28 08:18] kaozenn commented on #12273
We will create a Sandbox and run the integration tests instead of connecting the Berkeley Network

[2022-11-28 08:29] kaozenn commented on #12273
We will use a Sandbox to run the CI tests instead.

[2022-11-28 08:29] #12273 closed

[2022-11-28 08:37] kaozenn opened #12275 "Refactor Integration test scripts to use Sandbox"

[2022-11-28 08:39] kantp commented on #12218
Deprioritized because it's no longer blocking Sventimir.

[2022-11-28 08:39] kaozenn commented on #12266
Won't do.
We will use a Sandbox to run the integration tests instead.

[2022-11-28 08:43] kantp commented on #12184
This is being done as part of #12186

[2022-11-28 09:04] Sventimir opened #12276 "Debug rosetta-cli balance reconciliation."
When run against a very simple sandbox blockchain, including only a single transaction, `rosetta-cli` [tool](https://github.com/coinbase/rosetta-cli) reports reconciliation errors. In short this means that when `rosetta-cli` tries to track balances of various accouts, the expected balance it computes differs from what our Rosetta implementation reports. I have investigated the issue thoroughly and

[2022-11-28 09:18] Sventimir commented on #12276
I located the place in `rosetta-cli`'s code, where the in-memory balance is being updated. Against my previous suspicion, I discovered that the balance is only updated once, but it is being updated based on the balance *after* the transaction and adds (or subtracts) another transaction's amount to the balance. This explains why transactions are being taken into account twice. However, the root cau

[2022-11-28 10:06] ylecornec opened #12277 "Test delegations with rosetta-cli"
- [x] run tests locally
- [ ] add support for delegation transactions to rosetta-cli. See https://github.com/coinbase/rosetta-sdk-go/pull/457
- [x] add tests to the CI using the rosetta-go-sdk fork until changes are merged upstream. See #12373.
- [ ] Use new version of rosetta-cli after changes are merged upstream.

[2022-11-28 10:07] rbonichon commented on #12055
https://github.com/MinaProtocol/mina/pull/12120 has had a first round of review and should be cleared to go this week. This will end this epic.

[2022-11-28 10:14] #12056 closed

[2022-11-28 10:14] #12058 closed

[2022-11-28 16:22] xiangxiecrypto commented on #12247
It is now ready to estimate.

[2022-11-28 16:24] mrmr1993 opened #12280 "Kimchi feature flags to support pickles finalization"

[2022-11-28 16:27] mitschabaude commented on #12014
@maht0rz yes would be nice, but is a completely separate issue IMO

[2022-11-28 16:29] #12194 closed

[2022-11-28 16:29] #12193 closed

[2022-11-28 16:29] #12192 closed

[2022-11-28 16:46] amc-ie commented on #8634
https://github.com/MinaProtocol/mina/issues/11933 this is a more recent ticket but the same end goal

[2022-11-28 17:39] lk86 opened #12282 "Update archive node alerts to use the new DB"
Since the upgraded archive node deployment, we should have 0 missing blocks, but the alerts are showing many blocks missing. My hunch / expectation is that the alerts are only checking the old known-broken archive node and not our upgraded one. This ticket can be closed when the hunch is confirmed or any larger issues are discovered and fixed.

[2022-11-28 18:09] #12228 closed

[2022-11-28 18:38] joseandro commented on #12245
@xiangxiecrypto can we close this one?

[2022-11-28 18:39] joseandro commented on #12246
@xiangxiecrypto can we close this task? If so, where can we find the output of this task?

[2022-11-28 19:27] bkase commented on #12111
@psteckler can you add more context why we should prioritize this on the product eng team?

[2022-11-28 19:43] psteckler commented on #12111
@bkase It's not a high-priority item, because there's a workaround.

Generating the type definition will make for simpler, more maintainable code.

[2022-11-28 19:45] o1-david opened #12283 "review all of matthew's PRs"

[2022-11-28 21:45] stevenplatt opened #12284 "Retire unused Cloud SQL resources, and resize Buildkite pods"
This task is to cleanup unused gcloud infrastructure as part of ongoing cost-saving efforts.

- [x] Retire unused CloudSQL instances.
- [x] Resize builkite pods to reduce excess capacity.

[2022-11-28 21:49] stevenplatt commented on #12284
The following unused cloudsql instanced have ben retired:
`archive-dump`
`archivenode-db-test`
`archivenode-db-tes-resetta`

These systems had been confirmed as unused and have been powered off for 1 week before they were removed.

[2022-11-28 23:18] stevenplatt commented on #12284
The following buildkite workloads have been resized within GKE to reduce the pod count:
- `gke-east1-buildkite-agent`
- `gke-central1-buildkite-agent`

The corresponding yaml deployment files have also been updated here:
https://github.com/MinaProtocol/mina-deployments/tree/main/src/buildkite

The final buildkite worker agent totals are 100 (down from 160) standard agents, and 20 (unchanged) integ

[2022-11-28 23:18] #12284 closed

[2022-11-29 01:50] xiangxiecrypto commented on #12246
It is contained in my latest PR of zkOracles.

[2022-11-29 01:50] xiangxiecrypto commented on #12245
I think so.

[2022-11-29 07:38] deepthiskumar opened #12286 "zkapp token Id to caller type not invertible"

[2022-11-29 10:01] ylecornec opened #12288 "Add rosetta-cli construction tests config to the CI"
- [x] PR #12305 updates the `rosetta-cli` config file

[2022-11-29 14:39] michal0mina commented on #12206
https://www.notion.so/minafoundation/Incentivized-Testnet-Leaderboard-83b674b276414f4e8f7ea5f9243c1ca7#6182d752168947869e68033fa119d02f

^^this is SQL working for me to get verification key hash

[2022-11-29 14:52] nholland94 commented on #12213
In addition to the issues I linked, there is an investigation into some inferred nonce issues with the transaction pool that we are taking a deeper look into.

[2022-11-29 21:13] amc-ie commented on #12182
Thank you for this! Would it be possible to provide more detailed logs for this issue to help investigation?

- Run "mina client export-logs";
- Upload the resulting tar.gz file to a hosting service (Google Drive, Dropbox, etc.);
- Share the link where we can download your logs with [logs@o1labs.org](mailto:logs@o1labs.org);

Also could you let me know if you still see this when running the snark

[2022-11-29 23:43] QuiteStochastic opened #12294 "Fix archive node helm charts which block integration tests, in compatible"

[2022-11-29 23:44] QuiteStochastic commented on #12294
https://github.com/MinaProtocol/mina/pull/12072

[2022-11-29 23:45] QuiteStochastic opened #12295 "intg test: shared state"
as a part of this (https://app.zenhub.com/workspaces/velocity-62264fddc441a100183f7f86/issues/minaprotocol/mina/11017) greater task

[2022-11-29 23:46] QuiteStochastic commented on #12295
https://github.com/MinaProtocol/mina/pull/12237

[2022-11-30 03:24] deepthiskumar opened #12296 "limit zkapp uri length"

[2022-11-30 06:00] jq-rs commented on #12182
Thanks for checking this! Unfortunately, I don't have the logs, I perhaps too eagerly assumed that this is easy to find out and that further logs would not help much as the error happens immediately. Nevertheless, I'll provide them in case I see this again.

So far I have not seen this with a node that does not have snark worker enabled, I'll also let you know if this changes.

The problem with th

[2022-11-30 09:37] michal0mina opened #12297 "Research for refactoring and deployment mina-ci for MF"
mina-ci repo holds build and nix config for GCP VMs

Make it ready for take over by MF from Tweag

Make it compatible with AWS

[2022-11-30 09:40] balsoft opened #12298 "opt-block-production intg test fails with Nix"
The test fails with the Nix-built image: https://buildkite.com/tweag-mina-demo/mina/builds/3317#01845aea-c3be-4813-be93-e0b3d6a037f9

I have no idea what is going wrong.

[2022-11-30 09:43] Sventimir commented on #12276
Having gathered enough understanding of how `rosetta-cli` tracks balances, I realised that the bug was in our implementation all the time. More precisely, when asked for an account's balance at a particular block, before any transactions were made to that account, Rosetta returns the most recent balance instead. Because `rosetta-cli` relies on Rosetta to gather initial balances of accounts and the

[2022-11-30 09:43] #12276 closed

[2022-11-30 09:48] Sventimir opened #12299 "Fix wrong balances reported by Rosetta"
When asked about an account's balance at a particular block, Rosetta mis-reports the balance if that account hasn't been involved in any transactions before that block. In particular, it returns the most recent balance instead of the genesis balance for the account. The gensis balance is not currently available to Rosetta, so the idea is to expose it through GraphQL. The genesis ledger can be load

[2022-11-30 09:50] Sventimir commented on #12119
This is now blocked by issue #12299 instead.

[2022-11-30 11:18] rbonichon opened #12300 "Remove unused code either commented out or marked with `_` in `Pickles` library"
Address possible removals from https://github.com/MinaProtocol/mina/pull/12120

For example:
_Originally posted by @rbonichon in https://github.com/MinaProtocol/mina/pull/12120#discussion_r1035823727_

[2022-11-30 16:18] iot-defcon opened #12302 "[Bug Fixed] Mina Remote code execution when compiling templates"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/MinaProtocol/mina/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report. Please post those things in GitHub Discussions: https://github.com/MinaProtocol/mina/discussions

### Description

The `mina-project` use `ha

[2022-11-30 22:26] #2819 closed

[2022-11-30 23:23] psteckler commented on #12111
@bkase See the `Answer` and `Query` modules in `Mina_ledger.Sync_ledger`, where this issue shows up.

[2022-11-30 23:25] joseandro commented on #10603
@jspada I believe we can close this epic, no?

[2022-11-30 23:40] QuiteStochastic commented on #11549
https://github.com/MinaProtocol/mina/pull/11473

this PR helps but still need to do a one time cleanup

[2022-11-30 23:58] psteckler opened #12311 "Update queries against `epoch_data`"
#12310 adds a `UNIQUE` constraint against `epoch_data`. Existing queries against that table use just the seed and snarked ledger hash id. Those queries should use the other columns, to make sure the result is correct.